[2017-04-22 14:06] tapaswenipathak opened #1 "List all sessions in allsessions page"
* Lists all YouTube hangout sessions.
* Lists all upcoming sessions information
* Shows information about past and upcoming speakers.

[2017-04-22 14:09] tapasweni-pathak opened #2 "Integrate all social channels"
* Find a proper place for this on the UI.

[2017-04-22 14:10] tapasweni-pathak opened #3 "Upgrade to Django 1.11"
* Currently running on 1.7.6

[2017-04-22 14:18] tapasweni-pathak opened #4 "Integrate Travis CI and Coverage"
* Add tests

[2017-04-22 14:25] tapasweni-pathak opened #5 "Make this live on Heroku"
If someone wishes to take this one up ping me, I will share the account information.

[2017-04-23 12:46] tapasweni-pathak opened #6 "Testing"
Test it on different screen sizes and paste the screenshot in this issue.

[2017-04-26 17:40] manishpatel005 commented on #2
Hi Tapasweni. I am made changes to index.html to include the social channels. Please tell me how to push it.

[2017-04-27 01:29] tapaswenipathak commented on #2
@manishpatel005 You need to fork the repository, push the changes to your fork and then create a pull request on this repository.

[These](https://help.github.com/articles/creating-a-pull-request-from-a-fork/) [two](https://help.github.com/articles/creating-a-pull-request/) guides will help.

[2017-05-02 13:46] s24569 opened #7 "Need instructions for installing Django"
I need help with installing Django. I already succeeded in installing python and pip but for whatever reason I run into trouble when it comes time to put Django onto my computer.
![screen shot 2017-05-02 at 9 44 30 am](https://cloud.githubusercontent.com/assets/11892387/25620394/40b1458a-2f1c-11e7-9211-aafcd56482b1.png)

[2017-05-02 15:30] tapaswenipathak commented on #7
@s24569 Try adding **sudo** before the command.

[2017-05-02 15:43] s24569 commented on #7
It worked and it says that Django has been installed. The list of instructions on the README say to go inside the main Django app but I don't see an icon for it or anything. How do I go about getting into the Django app itself?

[2017-05-03 04:08] tapaswenipathak commented on #7
@s24569 You need to clone the repository. [This](https://help.github.com/articles/cloning-a-repository/) will help. After you are done feel free to submit a pull request with the steps which are missing in the readme.

[2017-05-08 05:55] h1tag commented on #6
Do you need a full page screenshot or is it OK if the screenshot is only for some part of the page?

[2017-05-08 11:20] tapaswenipathak commented on #6
Anything which can help us to find the issue(s).

[2017-05-08 11:32] h1tag commented on #6
I resized the browser window to emulate a smaller screen size, like in the image [here](http://imgur.com/a/HpZOk). And I found out that the navbar doesn't toggle.

I think the problem is that you have to put the link code for jQuery before the Bootstrap.js one.

[2017-05-08 11:37] tapaswenipathak commented on #6
Did you try this fix in your local? Feel free to submit a pull request if this fixes the issue.

[2017-05-08 12:32] mohamedragaey commented on #6
there were 3 issues I found in the code

-you forget the meta tag `<meta name="viewport" content="width=device-width, initial-scale=1">` that will take the mobile experience much better.

-You miss ordered the scripts, the jquery.js must be called before bootstrap.js.

-You need to add `.collapsed` class to the button on the navigation, and the class `.collapse` to the `<div class="navbar-collapse

[2017-05-08 13:37] tapaswenipathak commented on #6
The proper way to proceed is
1. Raise an issue in this repository for the three things that you mentioned and how does it effect the website.
2. Fork this repository -> Clone your fork in your local -> Push changes to your fork -> Submit pull request.
[This](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io#to-run-this-in-your-local) will help.

Let me know if you get st

[2017-05-08 13:45] #5 closed

[2017-05-08 13:54] #7 closed

[2017-05-08 14:32] mohamedragaey opened #11 "the browser is zoomed out and the navbar menu doesn't open in mobile screen"
1-missing meta tag `<meta name="viewport" content="width=device-width, initial-scale=1">`

2-the order of the scripts " jquery.js,bootstrap.js" is wrong. the jquery.js must be called before bootstrap.js. because that the bootstrap.js require jquery.js to render first to work smoothly
3-add the `.collapsed` class to the button on the navigation

[2017-05-08 15:19] h1tag commented on #6
@tapasweni-pathak I get this error `Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-ixwMmd/psycopg2/` after running `pip install -r requirements.txt`. I tried installing `setuptools` and updating it, but I still get the same error.

[2017-05-09 14:53] tapaswenipathak commented on #6
@h1tag Which system are you using and what Python version? Are you trying to do this in virtualenv?

[2017-05-09 14:53] tapaswenipathak commented on #11
@mohamedragaey Why 3rd?

[2017-05-09 15:53] h1tag commented on #6
@tapasweni-pathak Linux and Python 2.7.12.

I don't know if I was doing it in virtualenv (I did as the instruction asked in the README.md file), how do I check for that?

[2017-05-10 05:27] anubhakushwaha commented on #6
@h1tag You have to create a virtual environment which isolates your Python/Django setup on a per-project basis.

[2017-05-10 10:59] h1tag commented on #6
@anubhakushwaha is it mentioned how to do it in the README.md file?

[2017-05-10 11:51] mohamedragaey commented on #11
@tapasweni-pathak it is more descriptive that tells you if the button is clicked or not, and let you know whether the menu was opened by this button or another button.

[2017-05-10 11:56] mohamedragaey commented on #6
@h1tag  try these command
`sudo apt install libpq-dev python-dev`
`sudo apt install build-essential`
that should work it works for me.

[2017-05-11 09:46] tapaswenipathak commented on #6
@h1tag If this worked feel free to update the readme with the instructions that are missing. Otherwise join the #oshc-dev channel on Slack, we will see it.

You can also raise an issue with your question. It'll be better if we keep the  dev issues only for questions and discussions about the issue.

[2017-05-11 09:49] #11 closed

[2017-05-23 17:31] vaibhavsingh97 opened #13 "Look and feel of website"
Web site looks like old. We can integrate material design.

[2017-05-23 17:45] vaibhavsingh97 opened #14 "Not compatible with different screens"
![screenshot 1](https://cloud.githubusercontent.com/assets/8705386/26367853/a2859cb4-400d-11e7-801c-e14047e457fa.png)

[2017-05-25 14:24] melrick8196 commented on #2
Is this about integrating just the social buttons or something else?

[2017-05-30 02:37] tapaswenipathak commented on #13
Feel free to submit a pull request which can help to make things better.

[2017-05-30 02:37] #13 closed

[2017-05-30 02:38] tapaswenipathak commented on #14
This looks fine, may be I am missing something. What could have been better?

[2017-05-30 02:41] tapaswenipathak commented on #2
@melrick8196 Yes, you got it correct. The way you feel it would look good with the current design of the website. I really like font awesome icons. But if you have something better in your mind, feel free to submit a pull request with the changes.

[2017-05-30 05:01] vaibhavsingh97 commented on #14
I will fix it. Can we move from Bootstrap to [materializecss](http://materializecss.com/) framework?

[2017-05-30 05:08] tapaswenipathak commented on #14
Feel free to submit a design change or a pull request where we can understand what you want to change and to what.

[2017-05-31 17:47] anubhakushwaha opened #17 "Suggest design layouts for website"
Brainstorm a little and let us know how we can integrate the following features in our site :

- New developers can request for installation guide in the form of GIF/Screenshots,etc about any open source project they are working on and our team can respond back to them accordingly

- The budding pool of developers can request for Q/A sessions or live stream sessions of the established developers t

[2017-05-31 17:49] anubhakushwaha commented on #14
@vaibhavsingh97 What issue were you facing and please let us know the devices you are trying on as well,thanks a lot,we appreciate your efforts :)

[2017-05-31 17:52] anubhakushwaha commented on #6
@mohamedragaey Were you able to push your contributions? Feel free to ping us incase of any problem :) @h1tag I faced the same issue while setting up,incase the problem still persists do let us know :)

[2017-05-31 18:46] vaibhavsingh97 commented on #14
@anubhakushwaha I was testing the screen compatibility i.e. look and feel of websites on the different screen.
Tool used: Chrome Developer option.
Screen size i have tested are: 414x736, 412x732, 360x640, 768x1024

To explain the issue I am taking the example of [ICHSA 2018](https://ichsa2018.com/).
Website screenshot Desktop mode: ![screenshot 1](https://cloud.githubusercontent.com/assets/8705386

[2017-05-31 19:03] vaibhavsingh97 commented on #17
we can have a forum for this where the new developer can post their query, can request help. Will update you with the wireframe of forum by Monday as I have semester exams going on.

[2017-05-31 19:05] anubhakushwaha commented on #14
@vaibhavsingh97 Sounds great,keep us updated with all what you are planning to do and how so that we all can work along to give the best results :)

[2017-05-31 19:15] vaibhavsingh97 commented on #14
@anubhakushwaha I will create the new issue with wireframes after Monday both for website and forum

[2017-05-31 20:01] anubhakushwaha commented on #2
Closing.Fixed via #16

[2017-05-31 20:01] #2 closed

[2017-06-01 10:26] jarifibrahim opened #18 "Restructure the django project"
The project does not follow the Django's convention of writing reusable apps.

Reference - [https://docs.djangoproject.com/en/1.11/intro/tutorial01/#creating-the-polls-app](https://docs.djangoproject.com/en/1.11/intro/tutorial01/#creating-the-polls-app)

[2017-06-02 03:57] tameeshB commented on #14
@vaibhavsingh97 I think what you are trying to say is that you want to make the site more responsive, If I have interpreted it right? In that case, the following can be achieved by adding a single line of HTML markup
<img width="1393" alt="screen shot 2017-06-02 at 9 25 12 am" src="https://cloud.githubusercontent.com/assets/20886076/26710135/6fcac65e-4775-11e7-8c1a-5cfa75f8ee8f.png">

Markup : `<m

[2017-06-02 04:05] tapaswenipathak commented on #14
@vaibhavsingh97 @tameeshB Woops, We already have this in header, looks like some other issues is causing such behavior.

[2017-06-02 04:12] tameeshB commented on #14
@tapasweni-pathak @vaibhavsingh97 In that case, doesn't look like it is getting rendered:
[
<img width="742" alt="screen shot 2017-06-02 at 9 40 58 am" src="https://cloud.githubusercontent.com/assets/20886076/26710468/b6317938-4777-11e7-860d-dd49c2b7c600.png">
](url)
[view-source:http://opensourcehelpcommunity.herokuapp.com/](view-source:http://opensourcehelpcommunity.herokuapp.com/)

[2017-06-02 04:32] tapaswenipathak commented on #14
@tameeshB Yes, I saw this in your previous screenshot. I think I found the issue, will be pushing the change.

[2017-06-02 07:05] vaibhavsingh97 commented on #14
@tameeshB yeah! still, the menu is not accessible. I am just thinking of new design as it looks quite old and for that, i will submit wireframes soon ....as i have semester exams going on so you have to wait till Monday
@tapasweni-pathak We can move to  .com domain which will be free for one year and after that, we all can contribute. Please share your views

[2017-06-04 03:01] vaibhavsingh97 opened #21 "New Design for Website"
![image](https://cloud.githubusercontent.com/assets/8705386/26758587/36641370-4900-11e7-9c58-b58c2661da8d.png)

[2017-06-04 03:31] vaibhavsingh97 commented on #21
![image](https://cloud.githubusercontent.com/assets/8705386/26758763/ce2240ce-4905-11e7-88fc-093dc90dbd8c.png)

[2017-06-04 03:58] vaibhavsingh97 commented on #21
![image](https://cloud.githubusercontent.com/assets/8705386/26758874/ccc64eba-4909-11e7-86cb-bdd0092bdb04.png)

[2017-06-04 04:17] #18 closed

[2017-06-04 04:24] tapaswenipathak commented on #21
@vaibhavsingh97 Thanks!

But I will prefer our current design, less colors, simple. Plus we do not need this much of space for information on the website, very few things on the front page of the website. I have collected few designs from web for sessions page and other feature of the website, I will be putting this in the task list in some time. Feel free to pick it up and create. You can always

[2017-06-04 04:26] #3 closed

[2017-06-04 04:29] vaibhavsingh97 commented on #21
@tapasweni-pathak These designs are simple and built on one color scheme (Color picked from the logo). This UI looks interactive but the old designs are not. But if you want we will work on features of the website rather than look and feel.

[2017-06-04 04:34] tapaswenipathak commented on #21
@vaibhavsingh97 I agree. But we really do not need this much of space for the front page(s) and wait for a while, it will look interactive too. Thanks again! :) :sparkles:

Feel free to raise issues for the things you don't like, it will help a lot!

One more thing, do you have some time to chat, I would love to discuss what we are planning further and how you can lead a few things for us?

[2017-06-04 04:35] vaibhavsingh97 commented on #21
@tapasweni-pathak Sure! i pinged you on slack

[2017-06-04 06:11] tapasweni-pathak opened #22 "Add wiki"
Write about
1. the project.
2. the branches.
3. how to install
4. any other information which makes it easier for someone to get started.

[2017-06-04 06:16] tapasweni-pathak opened #23 "Supporting search for open source project based on X parameter"
This X can be a programming language or an area in computer science.

I really liked how [hackr.io](https://hackr.io/) has implemented similar feature, design is :100:

Initial things will be added in the database. Later, [this]().

[2017-06-04 06:17] tapasweni-pathak opened #24 "Crowdsource the projects and categories"
Allow the user to submit a project and tag in categories. Next step for #23.

[2017-06-04 06:20] tapasweni-pathak opened #25 "User should be able to register"
Needed for #24.

[2017-06-04 06:24] tapasweni-pathak opened #26 "Allow the user to request a session"
Can use a typeform or something similar first, next have it in our database.

[2017-06-12 02:14] tapaswenipathak commented on #1
Like : http://www.mycodeschool.com/videos

[2017-06-15 16:51] vaibhavsingh97 commented on #25
@tapasweni-pathak I am interested in working on this issue. Will send PR in a day or two

[2017-06-16 00:37] amarlearning commented on #26
@tapasweni-pathak since we don't have any user registration as of now. So going with Typeform or Google forms. I can think of these form fields as of now _Name_, _Email_, _Session Subject_, _Session Details_, _Request From_, _Additional Comments_.

Taking this one. Need your inputs on this.

[2017-06-16 07:21] Srijancse-zz commented on #22
Do you mean the github wiki, or a wiki for OSHC website?

[2017-06-16 13:10] tapaswenipathak commented on #26
Sure! go ahead with Typeform, try to keep the theme, colors in sync with the current state of website. Have a look at [this](http://www.mycodeschool.com/videos), on the front page right now you need to link request a session button to this form but later we will link to sign in/sign up.

Also having a field for web presence for both the requester and the person whose session is requested will help

[2017-06-16 13:18] tapaswenipathak commented on #22
@Srijancse I mean the one we have on GitHub for repositories, for this, [here](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/wiki).

[2017-06-16 14:09] Srijancse-zz commented on #22
Right. Got it!

[2017-06-18 09:14] jarifibrahim opened #27 "Add Procfile for Heroku"
[More information](https://devcenter.heroku.com/articles/procfile)

[2017-06-18 09:32] #27 closed

[2017-06-18 09:36] jarifibrahim opened #29 "Heroku worker failed to boot"
The `gunicorn` server on `Heroku` isn't working as the `Procfile` has the incorrect path to `oshc.wsgi` file.

[2017-06-18 10:03] jarifibrahim opened #31 "Update requirements"

[2017-06-18 10:05] #31 closed

[2017-06-18 10:06] #29 closed

[2017-06-19 14:25] vaibhavsingh97 opened #34 "Adding template for footer"
According to DRY Principle, The aim should be reducing the repetition of information.
The footer is present in the index.html file and in future we will have more pages, so to avoid repetition we will add this in the template.

Existing behavior: Footer code snippet is present in the index.html
Actual Behaviour: Footer should be present as a template so that we can just use the code-block

**I am

[2017-06-19 14:51] tapaswenipathak commented on #34
@vaibhavsingh97 Sure, please go ahead.

Please base your code changes on https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/pull/33. Most probably we will be merging this with few changes, to avoid any extra effort from your end.

[2017-06-19 14:53] tapasweni-pathak opened #35 "Update README with latest information about branches and heroku production and test link"

[2017-06-19 14:54] vaibhavsingh97 commented on #34
@tapasweni-pathak Sure!

[2017-06-19 15:36] #35 closed

[2017-06-20 06:10] tapasweni-pathak opened #36 "Merge master and develop"
From ![this](https://i.gyazo.com/654d3c8dc87d3d98ffb0b4ae8cb1a68a.png) to ![this](https://i.gyazo.com/b80c2c2701ea38fe0b4434b5219a2756.png).  🎆

[2017-06-20 14:51] vaibhavsingh97 opened #38 "Navigation Bar should stick when scrolling"
Enhancement of User Experience

[2017-06-20 15:53] vaibhavsingh97 opened #39 "Different screen compatibility"
Actual Behavior:
![image](https://user-images.githubusercontent.com/8705386/27342161-eecb1fa4-55fc-11e7-8bda-386ba11cef46.png)
![image](https://user-images.githubusercontent.com/8705386/27342182-fe356562-55fc-11e7-8428-c2345d567f87.png)
![image](https://user-images.githubusercontent.com/8705386/27342195-0aed74de-55fd-11e7-8020-4a6d1046f478.png)
Expected Behaviour: Website sholud adapt different sc

[2017-06-20 16:58] #34 closed

[2017-06-20 17:00] nikhita commented on #38
closing since fixed in #37

[2017-06-20 17:00] #38 closed

[2017-06-21 07:50] tapaswenipathak commented on #39
Sure, please go ahead.

[2017-06-22 04:51] vaibhavsingh97 commented on #25
@tapasweni-pathak @amarlearning @nikhita Where should the register/login button should be placed?
I was thinking to check the user state and if the user hasn't logged in till now than there should be a popup to register/login and if the user has closed the popup than he/she can register by clicking join now which would be present below the header text. For reference image is shown below.
![screens

[2017-06-23 04:51] #39 closed

[2017-06-23 05:02] tapaswenipathak commented on #25
We will start with something very simple like having a simple form through which user can register and login and see something only for them. We will have it on the top bar itself on the right. Something [like](http://mycodeschool.com/work-outs)? Please go ahead if you feel something can be better than this.

[2017-06-28 14:45] vaibhavsingh97 opened #42 "Avoid Redirection"
We should make a  script which will fetch all the video from the channel and display on a page.
**Actual Behaviour**:  opening `session` tab redirects to youtube page
**Expected Behaviour**: opening `session` page should display videos on the page itself.

**I am interested in working on this issue**

[2017-06-28 16:58] #36 closed

[2017-07-03 13:25] vaibhavsingh97 commented on #26
@amarlearning What are you up to? Please tell me your progress or else I can create form in Django and integrate to the website

[2017-07-03 13:25] vaibhavsingh97 commented on #42
@nikhita  @jarifibrahim @tapasweni-pathak Need your views. Should I start working on this issue?

[2017-07-03 13:53] amarlearning commented on #26
@vaibhavsingh97 if space is not a problem, you can create a form for that.

[2017-07-03 14:12] vaibhavsingh97 commented on #26
@tapasweni-pathak @amarlearning I am working on this issue! Will add PR soon :)

[2017-07-03 18:20] #25 closed

[2017-07-03 18:23] vaibhavsingh97 commented on #21
Fixed #33

[2017-07-03 18:23] #21 closed

[2017-07-03 18:28] jarifibrahim opened #46 "Configure database for Heroku deployment"
The following error occurs when user tries to login/signup on
[code]

[2017-07-03 19:30] nikhita commented on #26
Moving some of the brain-storming part to slack. https://opensourcehelp.slack.com/archives/C53RVADHC/p1499109900041539

[2017-07-04 06:36] jarifibrahim opened #48 "Set up Email related settings"
Add email settings so that we can use the `account verification` feature of `django-registration-redux`.

[2017-07-04 11:29] vaibhavsingh97 commented on #48
I am interested in working on this issue.

[2017-07-04 12:47] jarifibrahim commented on #48
@vaibhavsingh97 Assigned.

[2017-07-05 16:18] jarifibrahim opened #49 "Add Admins to settings.py"

[2017-07-05 18:43] Utsal20 commented on #49
Hi, can I try this? Would appreciate a bit more guidance. Thanks!

[2017-07-05 19:00] nikhita commented on #49
@Utsal20 Yes, you can work on this! :tada:

For any queries/guidance, you can either ask here in this issue or reach out to me (@nikhita) or @jarifibrahim on slack. For joining the slack, you can get an invite here: https://opensourcehelp.herokuapp.com/. :)

[2017-07-06 04:46] tapaswenipathak commented on #46
@jarifibrahim This issue is still present as the build has failed. Can you please look into it, reopening this.

[2017-07-06 05:09] jarifibrahim commented on #46
@tapasweni-pathak The build failed as we do not have `psycopg2` in `requirements.txt`. We do not need `psycopg2` to run the app locally but Heroku uses `PostgreSQL` database instead of `SQLite`, so it needs `psycopg2`. This issue has been resolved.
I'll open a new issue and PR for the Heroku build failure.

[2017-07-06 05:11] jarifibrahim opened #50 "Heroku Build Failed"
The recent Heroku build failed with the following error

[code]

[2017-07-06 05:44] tapaswenipathak commented on #46
This was quick! :)

[2017-07-06 05:44] #50 closed

[2017-07-06 05:48] tapaswenipathak commented on #46
@jarifibrahim Checks logs the issue still persist
[code]

We are on Python 3, I will push a runtime.txt, so Heroku stops using Python 2.7 here.

Edit1:

As manage.py is not present in heroku local, I am not able to run
[code]
from heroku console.

Edit2:
Fixed, with Heroku bash it worked.

[2017-07-06 06:07] #46 closed

[2017-07-06 06:31] tapaswenipathak commented on #42
@vaibhavsingh97 We have an [issue for this](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/issues/1). See the link I added in that issue, does that help you to think for a better design?

Closing this one as we can discuss on #1.

[2017-07-06 06:31] #42 closed

[2017-07-06 06:51] jarifibrahim commented on #49
@Utsal20 See this - https://docs.djangoproject.com/en/1.11/ref/settings/#admins
You need to add the `ADMINS` setting to the `settings.py` file.
Add the following admins.
**Tapasweni Pathak** - **tapaswenipathak@gmail.com**
**Nikhita Raghunath** - **nikitaraghunath@gmail.com**
**Ibrahim Jarif** - **jarifibrahim@gmail.com**

[2017-07-06 06:53] Utsal20 commented on #49
Got it, thank you!

On Jul 5, 2017 11:51 PM, "Ibrahim Jarif" <notifications@github.com> wrote:

[2017-07-06 08:11] vaibhavsingh97 commented on #1
@tapasweni-pathak I am interested in working on this issue

[2017-07-06 16:24] tapasweni-pathak opened #52 "Disallow re registration from same email id"
I am able to re register with the same email id.

[2017-07-06 16:26] tapasweni-pathak opened #53 "Show password strength indicator"

[2017-07-06 16:27] tapasweni-pathak opened #54 "Allow user to signin using username or email id"
Right now app does not allow the user to sign in with email id, only username is accepted.

[2017-07-06 16:55] tapasweni-pathak opened #55 "After logout redirect to main page"
and not /accounts/logout/.

[2017-07-06 17:01] tapasweni-pathak opened #56 "Change navbar and footer color back to #eeeeee"
With new design push this was also changed, black looks too strong to eyes. Going with the original theme, blue, white and grey and light shades of these should do for all elements on the website.

[2017-07-06 17:09] tapasweni-pathak opened #57 "r/Not member?/Not a member"
Minor issue on /accounts/login/ page below account wall.

[2017-07-07 11:12] mish24 commented on #57
@tapasweni-pathak Can I take this up?

[2017-07-07 11:13] mish24 commented on #56
@tapasweni-pathak I would like to work on this :)

[2017-07-07 11:13] mish24 commented on #52
@tapasweni-pathak I can fix this too if it's free

[2017-07-07 11:38] mish24 opened #59 "User is able to login after logging out"
Even after the user has logged out, the user can press back and access everything

[2017-07-07 12:50] amarlearning commented on #56
@tapasweni-pathak you really want to change the color to `#EEEEEE` :stuck_out_tongue:  I think the current theme color looks good :sweat_smile:

[2017-07-07 12:51] vaibhavsingh97 commented on #59
@mish24 It's not a problem here. Kindly recheck by clearing cache

[2017-07-07 12:52] mish24 commented on #56
@amarlearning No? :D

[2017-07-07 15:01] amarlearning commented on #56
@mish24 I like the current color combination. but since it's an issue :+1:

[2017-07-07 15:35] vaibhavsingh97 commented on #56
@mish24 @amarlearning Me too like the current theme :)

[2017-07-07 19:17] #57 closed

[2017-07-07 19:22] tapaswenipathak commented on #56
@amarlearning @vaibhavsingh97 Sorry I opened this issue without discussion but I really want the website to be on the light color side, that's what I have seen on most websites. I know even I like Black but still for visitors of the website I would prefer whitish theme with light colors, they look better to eyes. If you both not at all like #eeeeee we can have a vote, I'll vote for #eeeeee. :)

Ma

[2017-07-08 08:10] mish24 commented on #6
@tapasweni-pathak Is anyone working on this? I would like to continue with testing if it's fine

[2017-07-08 09:02] sandarumk opened #65 "Upcoming Sessions Shows the sessions which are already over"
In the upcoming session section in the website, the current session which shows at the top is a one which is already finished.

[2017-07-08 09:09] #65 closed

[2017-07-08 09:18] tapaswenipathak commented on #6
@mish24 Sure, please go ahead.

[2017-07-08 09:33] tapaswenipathak commented on #56
Everyone likes the current theme, I don't know why I still have a feel for #eeeeee, closing this issue anyway. 😅

[2017-07-08 09:33] #56 closed

[2017-07-08 09:48] Logan1x commented on #65
Is it done @tapasweni-pathak ?

[2017-07-08 10:22] bikrambhattacharya commented on #53
@tapasweni-pathak  how to find the file related to the issue? I can't find help needed.

[2017-07-08 10:37] vaibhavsingh97 commented on #65
@Logan1x yeah! Refer to #66

[2017-07-08 11:30] Logan1x commented on #65
@vaibhavsingh97 @tapasweni-pathak  we should put it but not as session reminder but as lists that having session which are already done. what do you guys think?

[2017-07-08 14:31] jarifibrahim commented on #59
Closing since the issue does not exist.

[2017-07-08 14:31] #59 closed

[2017-07-08 14:35] vaibhavsingh97 commented on #4
@tapasweni-pathak I want to work on this issue

[2017-07-08 14:40] jarifibrahim commented on #53
@bikrambhattacharya [This](http://opensourcehelpcommunity-dev.herokuapp.com/accounts/register/) is the user registration form. You'll have to add password strength indicator to this form. The HTML code of the registration form is in `oshc/main/templates/registration/registration_form.html` file.

[2017-07-08 15:13] #26 closed

[2017-07-08 18:03] bikrambhattacharya commented on #53
@jarifibrahim Okay I will try to add one.

[2017-07-08 18:30] jarifibrahim opened #69 "Add unit tests"

[2017-07-10 05:47] vaibhavsingh97 commented on #49
@jarifibrahim @nikhita @tapasweni-pathak please close this issue  as issue resolved in #64

[2017-07-10 10:10] #49 closed

[2017-07-10 13:53] Logan1x opened #71 "Session is ended but not removed from website."
the last session held on july 8 was not removed from website it showing register now till now so i think we should update "register now " to something else.

[2017-07-10 14:05] Logan1x opened #72 "Register now button is not working"
for session registration register now button is not working on web-site but working properly on mobile site.

[2017-07-10 15:05] vaibhavsingh97 commented on #71
Duplicate of #1

[2017-07-10 15:44] Logan1x commented on #71
@vaibhavsingh97  we decided to remove past session from website on slack but its not removed i dont see anything like this on #1 .

[2017-07-10 15:45] Logan1x commented on #71
we should discuss about that we should remove session or add a block of past session.

[2017-07-10 16:44] vaibhavsingh97 commented on #71
Actually, it's hard coded and we need some efficient method so that if the session is ended than it should automatically move to the previous session and new session would be displayed. Also, navigating to session redirect to youtube so the expected behavior should display all the videos by fetching through API.
I will work in this once I finish #48. If you have some idea than we can collaborate

[2017-07-11 04:55] Logan1x commented on #71
@vaibhavsingh97 the api redirecting to eventbrite and past event's are showing event ended to me so it's fine now but have a look at it #72

[2017-07-11 17:48] jarifibrahim commented on #55
Closed via https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/issues/60

[2017-07-11 17:48] #55 closed

[2017-07-11 17:49] #54 closed

[2017-07-11 17:54] jarifibrahim opened #73 "Store sessions in database"
Save information about the upcoming sessions and render those on the home page.
Information about sessions can be added/updated using the `Admin` interface.

[2017-07-11 17:55] jarifibrahim commented on #73
@amarlearning @tapasweni-pathak @vaibhavsingh97 What do you think?

[2017-07-11 18:25] vaibhavsingh97 commented on #73
Sounds good to me :+1: :smiley:

[2017-07-12 04:46] amarlearning commented on #73
@jarifibrahim How much free space do we get on free Heroku container?

[2017-07-12 09:33] jarifibrahim commented on #73
@amarlearning 10,000 rows

[2017-07-13 16:49] Logan1x commented on #22
i want to work on that. @tapasweni-pathak

[2017-07-14 19:20] vaibhavsingh97 commented on #73
@jarifibrahim @amarlearning I am interested in solving this issue

[2017-07-14 22:46] tapasweni-pathak commented on #71
We'll update after we finalize next one.

[2017-07-15 03:09] tapaswenipathak commented on #4
@vaibhavsingh97 Sure, I have some idea about this let me know if you need any help.

[2017-07-15 03:17] tapaswenipathak commented on #73
This is ✨.

[2017-07-15 03:18] tapaswenipathak commented on #53
@bikrambhattacharya Were you able to progress a bit? Let us know if you need some more help on #oshc-dev channel on Slack.

[2017-07-15 03:29] tapaswenipathak opened #76 "Why OSHC?"
Need suggestions on how should we link this to the main website. Not everything can go in "our mission" on the main website. I am not able to figure out what could be the best way for a detailed writeup on "about us" or "about oshc".

Few options are

- [ ] A blog in form of markdown file in this repository, linked with element on footer of the website
- [ ] Page on the website itself attached wit

[2017-07-15 21:29] vaibhavsingh97 commented on #76
I will go with second option
"Page on the website itself attached with a link on the footer"

[2017-07-18 13:59] #69 closed

[2017-07-18 14:18] #4 closed

[2017-07-18 14:55] #72 closed

[2017-07-18 14:56] #71 closed

[2017-07-18 21:34] vaibhavsingh97 commented on #53
@bikrambhattacharya Are you still working on this issue?

[2017-07-18 21:35] vaibhavsingh97 commented on #52
@mish24 Are you working on this issue?

[2017-07-18 21:36] vaibhavsingh97 commented on #14
Closing as it's fixed in #40

[2017-07-18 21:36] #14 closed

[2017-07-18 21:50] austinjcheng commented on #22
The wiki link just seems to redirect back to the main page. Any ideas on how to get started?

[2017-07-19 07:23] jarifibrahim opened #80 "Add Travis CI Badge to README.md"
Add Travis CI badge to Readme.md. The badge can be found on [this](https://travis-ci.org/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/) page.

[2017-07-19 07:52] Logan1x commented on #80
@jarifibrahim i would like to work on this.

[2017-07-19 08:00] Logan1x commented on #80
@jarifibrahim done #81

[2017-07-19 14:00] tapaswenipathak commented on #22
@austinjcheng I didn't get your question. In this issue you have to write about the points that I have mentioned and add them to our wiki.

[2017-07-19 16:44] bikrambhattacharya commented on #53
@vaibhavsingh97   I couldn't figure out how to add strength indicator.

[2017-07-19 17:22] vaibhavsingh97 commented on #53
@bikrambhattacharya You can take help from this blog http://blog.birdhouse.org/2015/06/16/sane-password-strength-validation-for-django-with-zxcvbn/comment-page-1/

[2017-07-19 17:25] bikrambhattacharya commented on #53
@vaibhavsingh97  Thank you

[2017-07-20 14:17] Logan1x commented on #22
@tapasweni-pathak  when we go to 'wiki' section of repo that page redirect us to 'code' page. I think the same problem @austinjcheng having.

[2017-07-22 10:44] jarifibrahim opened #83 "Add coveralls.io badge to README.md"
Add coveralls.io badge to README.md file which can be found on https://coveralls.io/github/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io

[2017-07-22 19:57] vaibhavsingh97 commented on #53
@bikrambhattacharya Any progress?

[2017-07-23 06:27] vaibhavsingh97 opened #85 "Travis CI need update"
**Description**:

Travis CI build failed in the recent PR

**Actual Behavior**:

Travis build failing

**Logs**:
[code]

**Would you like to work on this issue?**
- [x] Yes
- [ ] No

[2017-07-23 10:14] vaibhavsingh97 commented on #85
Issue Resolved in #84

[2017-07-23 10:14] #85 closed

[2017-07-23 11:21] sarthakkapoor21 commented on #52
is this issue still open? @tapasweni-pathak @vaibhavsingh97

[2017-07-23 11:22] sarthakkapoor21 commented on #53
Is this issue still open? @vaibhavsingh97 @tapasweni-pathak

[2017-07-23 11:26] sarthakkapoor21 commented on #83
@jarifibrahim could you help me get started on this?

[2017-07-23 11:35] vaibhavsingh97 commented on #52
@sarthakkapoor21 Yes! you can work on this issue as there is no response from @mish24

[2017-07-23 11:37] vaibhavsingh97 commented on #53
@sarthakkapoor21 @bikrambhattacharya is working on this issue. You can work on other [issues](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/issues)

[2017-07-23 11:59] bikrambhattacharya commented on #53
@vaibhavsingh97  I hope i will be able to make a pull request within next two days, thank you

[2017-07-23 12:57] jarifibrahim commented on #83
@sarthakkapoor21 You need to add the `badge` (fancy name for an image) for the coveralls.io build.

1. Go to [this](https://coveralls.io/github/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io) page.
2. There is a `badge` section on the right-hand side. Click on the `embed` button in the badge section.
3. Copy everything in the `markdown` section.
3. Paste the content you just copied in t

[2017-07-23 14:00] jarifibrahim commented on #53
@bikrambhattacharya The link posted by @vaibhavsingh97 refers to password strength checking at the server side. We could compute the strength at the server, but it would be difficult.

A much simpler approach is to use client side password strength checking. The following pages show how to implement client side password strength calculation.

https://www.aspsnippets.com/Articles/Password-Strength-

[2017-07-23 14:09] bikrambhattacharya commented on #53
@jarifibrahim  Thank you, I am also using RegExp for checking, my code will be similar to this.

[2017-07-23 14:12] bikrambhattacharya commented on #53
@jarifibrahim @vaibhavsingh97  what if the user use a password like name@1234? should I include an another condition if the password contains user's name?

[2017-07-23 14:39] jarifibrahim commented on #53
@bikrambhattacharya If you could add it, it would be great. :)

[2017-07-23 14:40] vaibhavsingh97 opened #87 "Integrate Hound CI"
**Description**:

[Hound CI](https://houndci.com/) is a hosted service that comments on the style violations of the pull requests. This helps to review and maintain a clean codebase.

**Would you like to work on this issue?**
- [x] Yes
- [ ] No

[2017-07-23 14:55] #80 closed

[2017-07-23 20:14] #73 closed

[2017-07-24 19:22] bikrambhattacharya commented on #53
@jarifibrahim @vaibhavsingh97  I have added a strength meter. where should I place it? below the password field?

[2017-07-24 19:24] vaibhavsingh97 commented on #53
@bikrambhattacharya Yes, It should appear when user type password

[2017-07-24 19:31] bikrambhattacharya commented on #53
@vaibhavsingh97  okay

[2017-07-25 01:21] coding-sunshine commented on #83
Added PR

[2017-07-25 02:16] nikhita commented on #83
I just noticed that @sarthakkapoor21 had mentioned about working on this issue before.

@coding-sunshine It is great that you submitted a PR (very much appreciated!). However, if someone is already working on a PR, it is better to usually ask if they are still working on it before sending a PR. Helps in avoiding duplicated efforts. :smile:

@sarthakkapoor21 Feel free to work on any of the other is

[2017-07-25 02:46] nikhita commented on #22
@austinjcheng @Logan1x face the issue because you need to be a Github Org member to access the Wiki endpoint (https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/wiki). Else, it gets redirected to https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io.

Unfortunately, Github does not allow PRs for wikis. However, we can have a workaround to this.

A w

[2017-07-25 05:39] nikhita commented on #83
Fixed in #88.

[2017-07-25 05:39] #83 closed

[2017-07-25 06:16] vaibhavsingh97 commented on #87
@tapasweni-pathak @nikhita @jarifibrahim your views on this issue. If you agree to accept please grant Hound CI access

[2017-07-25 06:18] nikhita commented on #87
LGTM! :+1: I'll still let @tapasweni-pathak and @jarifibrahim confirm once though. :)

[2017-07-25 09:44] jarifibrahim commented on #87
@vaibhavsingh97 I've enabled Hound CI. I'll send a PR to test it.

[2017-07-25 09:53] jarifibrahim commented on #87
@vaibhavsingh97 I created a PR https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/pull/90 but Hound CI was not triggered. I think we'll have to add the `.hound.yml` config file.

[2017-07-25 09:59] vaibhavsingh97 commented on #87
@jarifibrahim Yes we need .hound.yml to trigger Houng CI
See this
![image](https://user-images.githubusercontent.com/8705386/28566959-6d4cd946-714e-11e7-9e8b-72be7ae38cf3.png)

[2017-07-25 10:00] vaibhavsingh97 commented on #87
@jarifibrahim Should i send Hound CI PR?

[2017-07-25 10:04] jarifibrahim commented on #87
@vaibhavsingh97 Yes. I'll close https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/pull/90.

[2017-07-25 10:37] #87 closed

[2017-07-26 05:23] Logan1x commented on #22
👍 @nikhita

[2017-07-31 19:02] nikhita commented on #22
bump ^^
@amarlearning @vaibhavsingh97 @jarifibrahim should I go ahead with this?

[2017-07-31 19:29] vaibhavsingh97 commented on #22
@nikhita Create initial pages in wiki and let new comers make the first contribution by editing wiki :smile:

[2017-07-31 19:34] jarifibrahim commented on #22
@nikhita

How will the commits from a completely different repository appear on this repo? When you change the *origin* remote it affects only your *local* copy. It has no effect on the original Github repo. I think someone with write access to `OpenSourceHelpCommunity.github.io` will have to fetch commits from the `OSHC-wiki` repo and then, push them to the `OpenSourceHelpCommunity.github.io.wiki

[2017-07-31 19:38] nikhita commented on #22
@jarifibrahim Right, we'll probably have to automate this using Travis. :+1:

[2017-07-31 20:37] nikhita commented on #22
I have created https://github.com/OpenSourceHelpCommunity/OSHC-Wiki.

A dummy wiki exists at https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/wiki because we need at least a first page to be able to clone the wiki. This dummy wiki will be overwritten by the real wiki later.

Further steps: enable travis on the new repo to make sure any changes merged in OSHC-Wiki are re

[2017-08-10 10:07] Logan1x commented on #76
Second One also looks fine to me.

[2017-09-02 07:25] vaibhavsingh97 opened #95 "Migration form django-registration-redux to django-all-auth"
**Description**:
Benefits of using our own custom registration model
- Customizable
- Easy to maintain
- Easy bug fix as we have written the code :wink:

**Would you like to work on this issue?**
- [x] Yes
- [ ] No

[2017-09-02 07:26] vaibhavsingh97 commented on #95
cc: @nikhita @tapasweni-pathak @amarlearning @anubhakushwaha @jarifibrahim

[2017-09-03 21:23] anubhakushwaha opened #96 "Ideas on making the website user-specific"
**FEATURE REQUEST**

**Description**:

We are planning to make the website more user-interactive and ideas will be appreciated

- Show all the sessions on the website itself so that the user can bookmark those sessions for future.

- Functionality to view previous requests for sessions

- Add a "My Journey" section, where the developers can add their experience with open source

- We can also plan

[2017-09-03 21:25] anubhakushwaha opened #97 "Ideas on making the website more helpful"
**FEATURE REQUEST**

**Description**:

We are planning to make the website more useful for everyone, ideas are highly appreciated. Few of them are:

- To show all the requests from people so that others can view them and upvote them, this way we could process the requests in a particular order as per the demand

- We can also have a section for "star contributor" of the month which would encourage

[2017-09-03 21:27] anubhakushwaha commented on #96
@tapasweni-pathak  @sandarumk  @vaibhavsingh97  @amarlearning  @jarifibrahim  @nikhita  Please have a look and let's try to get the most out of it :)

[2017-09-03 21:27] anubhakushwaha commented on #97
@tapasweni-pathak @sandarumk @vaibhavsingh97 @amarlearning @jarifibrahim @nikhita Please have a look and let's try to get the most out of it :)

[2017-09-03 21:31] nikhita commented on #97
@anubhakushwaha What a wonderful idea!

Does this mean we'll have a "points" based system? If you contribute more, you get more points?

Fwiw, we have a gamification system like this in Kubernetes called "k8s Port" and it seems to have encouraged people to contribute more! I am not aware of the impact in exact terms but there seems to be a general positive consensus around it. :)

[2017-09-03 21:33] nikhita commented on #97
@anubhakushwaha Sorry, the other issue #96 mentions about points. Spoke too soon. :)

[2017-09-03 21:36] anubhakushwaha commented on #97
@nikhita  Haha no issues, ooh it's amazing that it showed a positive impact, we would not keep it to a high level, just another field which would contain the points earned

[2017-09-04 05:36] vaibhavsingh97 commented on #96
1. We can have badges like rookie, Editor, Contributor, Popular, etc based on the contribution in our website.
2. We can have `xP` in the profile so we can have top 10 contributors based on the `xP`
#### How we calculate xP
- We will take help of Github and fetch organizations/ forked repositories. Based on the issues/commit/ PR merged//PR created we will gave points. This will be refreshed via an

[2017-09-04 05:47] vaibhavsingh97 commented on #97
We can have **chat bot** which help newbies to get useful resource in order to get started with open source development. Also, if the chat bot not able to help the new developer than he can contact human anytime and choose anyone from the top 30 based on the experienced earned

[2017-09-04 10:45] #53 closed

[2017-09-04 17:18] anubhakushwaha commented on #96
@vaibhavsingh97  How do you propose analysis based on contributions outside of our projects? Let me know your thoughts, what I was thinking was to label the open issues with "points" and certain points on opening a new issue and sending a PR, but it would be then confined to projects just limited to OSHC, @nikhita  @vaibhavsingh97  any thoughts on this?

[2017-09-04 19:02] vaibhavsingh97 commented on #96
@anubhakushwaha we will ask user to link with Github and fetch all the information of user including his PR, issues, etc. We will then use the data for further calculation.

[2017-09-04 21:34] anubhakushwaha commented on #96
@vaibhavsingh97 Yeah that's exactly we need to figure out right? How will the scoring happen? On one hand someone can solve many minor issues as compared to someone with just one major issue in any project, how will the weighting happen without manual intervention? I hope I was clear, let me know if you have any ideas?

[2017-09-05 10:47] vaibhavsingh97 commented on #96
@anubhakushwaha Here comes the machine learning/AI  + NLP which evaluate that the person has solved the major issues or minor issues and grade the points to the person. Right now, we can track only when we collaborate with other organizations and we can then

This way we can track but limited to certain projects :disappointed:

[2017-09-10 10:01] tapasweni-pathak opened #98 "Make hyperlinks(HTML links) open in new tab"
Currently all hyperlinks open in the same tab.

[2017-09-10 10:06] tapasweni-pathak opened #99 "Migrate Slack invite page as a part of main website"
Currently there is a separate [Heroku web application](https://opensourcehelp.herokuapp.com/) to enable Slack invite, should be moved to the main website.

Happy to have suggestions about should we stick to the same design or it would be better to adapt the look and feel of the main website.

[2017-09-10 10:20] tapasweni-pathak opened #100 "Add a team page"
This will have a journey design, starting from the first person to the recent changes in the team with their responsibilities. I wish to take it up but after some time and I already have to work on enabling search on the website[high prio than this]. If someone is interested to work on this please contact me on Slack channel.

Happy to have design suggestions for this page which goes with the them

[2017-09-10 10:23] tapasweni-pathak opened #101 "New lables required to tag issues"
Following labels are needed :
1. medium : to tag issues as medium, we only have easy currently.
2. internaltoteam : to keep the discussion open only for team members.

[2017-09-10 10:32] tapaswenipathak opened #102 "Add the Documentation of the website and contributing guide to Read the Docs"
Currently the documentation of the website is explained in [README](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/blob/develop/README.md).

It will be good to have the information about
1. branches
2. hound, travis enablement
3. installation instruction
4. issue and labels

available on [Read the Docs](http://docs.readthedocs.io/en/latest/getting_started.html).

[2017-09-10 10:36] tapasweni-pathak opened #103 "Add instructions to work with the website after installing it in different OS and environments"
To make the website and contributing to the codebase more beginner friendly we would be happy to add instructions about installing the website and making it up in your local in different operating systems, VMs, environments.

Please refer to this issue in your pull request with the instructions that you used to run the website in your local.

[2017-09-10 10:58] abarya commented on #98
Hi @tapasweni-pathak, I'd like to work on this issue.

[2017-09-10 12:46] tapaswenipathak commented on #101
Created these two, so closing this one.

[2017-09-10 12:46] #101 closed

[2017-09-10 15:29] anubhakushwaha commented on #52
@sarthakkapoor21 Working on this?

[2017-09-10 15:33] anubhakushwaha opened #104 "Remove django-registration-redux"
**FEATURE REQUEST**:

**Description**:
To keep things clean and in order, removal of django-registration-redux before creating a custom-registration model.

[2017-09-10 15:52] anubhakushwaha commented on #99
@tapasweni-pathak I can work on this, and I guess it's better to adapt to the look and feel of the main website.

[2017-09-10 16:38] vaibhavsingh97 commented on #52
@anubhakushwaha As we are now having custom-registration-model so we will take there of this there. But if @sarthakkapoor21 want to contribute than he can contribute there

[2017-09-10 19:56] #98 closed

[2017-09-11 05:11] vaibhavsingh97 commented on #104
@tapasweni-pathak @anubhakushwaha @nikhita Do I have to remove test cases too?

[2017-09-11 06:02] anubhakushwaha commented on #104
@vaibhavsingh97  I guess it makes no sense to have tests for something that has been removed, though even for custom registration we will have similar tests but for now it's advisable to keep things together i.e have unit tests for the functionality together in the same PR.

[2017-09-11 06:05] vaibhavsingh97 commented on #100
@anubhakushwaha @tapasweni-pathak
These are some design inspiration i had compiled which i think to have in team page.

#### Design 1:
![image](https://user-images.githubusercontent.com/8705386/30259377-94ae0f6e-96b0-11e7-9930-438a2cf40e83.png)
![image](https://user-images.githubusercontent.com/8705386/30259395-a6bdd4aa-96b0-11e7-920c-456de4771347.png)
https://www.capshare.com/team

#### Design 2:

[2017-09-11 06:06] vaibhavsingh97 commented on #100
I am also thinking to have admin interface where `admin` can add new team members. what are your opinion on this?

[2017-09-11 06:10] vaibhavsingh97 commented on #104
@anubhakushwaha I am removing test cases for now, we will add when we have custom-registration-model

[2017-09-11 06:23] vaibhavsingh97 opened #107 "New label required to tag issues"
Following labels are needed :

    question : to tag issues as question, so that everyone can actively participating in answering the questiom
    discussion : to keep the discussion open only for all.

[2017-09-11 06:28] anubhakushwaha commented on #100
@vaibhavsingh97 Yes we can create a seperate issue for the creation of an admin interface for adding new team members, but then we will have to think of some dynamic UI where we can add our elements on go, what do you say?

[2017-09-11 21:31] nikhita commented on #107
The question label already exists. Added the discussion label.

Closing.

[2017-09-11 21:31] #107 closed

[2017-09-12 08:12] vaibhavsingh97 commented on #102
@tapasweni-pathak Google open sourced Google Developer documentation style guide. We can use it to bootstrap our own style guide. Read more about here  https://opensource.googleblog.com/2017/09/making-google-developers-documentation.html?m=1
We can use this for documentation.
Cc: @nikhita @anubhakushwaha @sandarumk
What are your opinion?

[2017-09-13 06:51] abhishekarya286 opened #108 "Unable to sign up and sign in"
I tried to sign up a lot of times but was unable to do so.

[2017-09-13 13:58] vaibhavsingh97 commented on #108
@abhishekarya286 Are you trying to signup and signin locally or on Heroku??
As of now we are dropping django-registration-redux and we will use our own custom registration model.
I already sent #106 to revert the changes and after that i will send another PR with custom registration model

[2017-09-13 16:33] abarya commented on #108
Both of these are not working for me.

[2017-09-14 09:31] anubhakushwaha commented on #99
@tapasweni-pathak @vaibhavsingh97 @nikhita I guess after our custom-registration is ready, and since then we will have an email-id of the user once signed up, we can simply send the mail for invite there. Do you guys agree to it or should a make a completely new view for adding the email-id again and requesting for invite. For now, I can only think of one use-case where the user has not signed-up/

[2017-09-14 09:34] anubhakushwaha commented on #100
![oshc](https://user-images.githubusercontent.com/12814245/30422537-df617a82-995d-11e7-9ffa-665c25ab8de8.jpg)
I really liked the simplicity of this design, @tapasweni-pathak @vaibhavsingh97  @nikhita  @sandarumk  thoughts appreciated :)

[2017-09-14 09:38] anubhakushwaha commented on #52
Closing this for now, as we are switching to custom-registration model

[2017-09-14 09:38] #48 closed

[2017-09-14 09:42] vaibhavsingh97 commented on #99
@anubhakushwaha @tapasweni-pathak @nikhita I think their is no point for having the new view for slack invite. User just have to go to got to profile and can request invite. Also, If the user don't want to login and still want to join the slack group we can then give option during sign up/ sign in. What's your opinion on this?
Design for asking for slack invite:
![image](https://user-images.github

[2017-09-14 09:42] anubhakushwaha commented on #23
@tapasweni-pathak As currently, the website provides only youtube videos, what all are we planning to include to enable search on them and how? I was interested in #24 and hence wanted to know how you are planning to go ahead with this?

[2017-09-14 09:44] anubhakushwaha commented on #108
@abhishekarya286 Thanks for raising the issue, but since we are migrating to custom-registration model I am closing this, feel free to raise any issue/feature :)

[2017-09-14 09:50] tapaswenipathak commented on #52
@anubhakushwaha should we keep this and #108 open as they are issues, if custom-registration model fixes these two we will close this, otherwise not?

[2017-09-14 09:51] anubhakushwaha commented on #99
@vaibhavsingh97 I didn't get the solution you proposed when user is not signed in/signed up but still wants an invite.

[2017-09-14 09:54] anubhakushwaha commented on #52
@tapasweni-pathak +1

[2017-09-14 10:02] vaibhavsingh97 commented on #52
@tapasweni-pathak @anubhakushwaha Before sending PR I would create the issue with the designs and use cases for custom registration model. So we can close this after the custom-registartion-model 😄

[2017-09-14 13:51] #104 closed

[2017-09-15 08:01] Logan1x commented on #97
@nikhita  @anubhakushwaha  were you talking about something like this?

![screenshot from 2017-09-15 13-23-01](https://user-images.githubusercontent.com/10944610/30472408-c0d6b896-99eb-11e7-8e86-8b536e17a083.png)
![screenshot from 2017-09-15 13-24-07](https://user-images.githubusercontent.com/10944610/30472409-c17fd5b6-99eb-11e7-9ab3-6165d0a2f8f5.png)

this feature is great!

[website link](https:

[2017-09-17 11:05] tapasweni-pathak opened #110 "dev is down with no such table: main_chatsession"
[![Screenshot from Gyazo](https://gyazo.com/f0a82b6f70538c8c4a2e359bcf0d92e6/raw)](https://gyazo.com/f0a82b6f70538c8c4a2e359bcf0d92e6)

#106 caused it. #109 did not fix it. I tried to remove migrations
[code]
after deleting db.sqlite3. This did not fix the issue. I also got few suggestions on completely removing sqlite3 as this doesn't go quite well with Heroku and have Postgres instead; please le

[2017-09-17 11:09] anubhakushwaha commented on #110
@tapasweni-pathak Yeah please provide access to Heroku and yes pretesting where we can try different things sounds good, please update this issue

[2017-09-17 11:11] tapaswenipathak commented on #102
@vaibhavsingh97 We can compare these two before going ahead with one. ReadTheDocs is quite established project made to fulfill the needs of documentation required and used widely by many projects. It has search and components it used underneath are also open source. Not sure about Google Developer documentation style guide, would like to know.

Also can you please explain a bit more about we can b

[2017-09-17 11:18] vaibhavsingh97 commented on #110
@tapasweni-pathak Yes, please provide us access and having `pretest` sounds good where we can try out new things.

[2017-09-17 11:19] tapasweni-pathak opened #111 "Redirect to new 404 and 403 page in case of these errors"
We have debug turned on develop, should we turn it off there?

Also on the main one I tried access a 404 and got a screen like this. User should be redirected to a specific 404 informative page and after we merge user registration, login we also need 403 page.

[![Screenshot from Gyazo](https://gyazo.com/7f7e5dc9e013d1a1c169a9669925eef7/raw)](https://gyazo.com/7f7e5dc9e013d1a1c169a9669925eef7)

[2017-09-17 11:30] tapaswenipathak commented on #100
So many suggestions! 🌟 But we are not showing the journey of how people came in and are joining in. I wanted to have both history and team clubbed together.

@OpenSourceHelpCommunity/everyone I have [this](https://www.mapbox.com/about/history/) in mind. Let me know! :)

[2017-09-17 11:39] tapaswenipathak commented on #99
@anubhakushwaha Sending after registration to the main website sounds good! But we need to have these two separate for a while. We will continue to link **Join us** on the main web page with a slack inviter page which will be part of the website. You have already taken it up! 💯

@vaibhavsingh97 User registration and sign in/up is completely different than allowing them to join the Slack channel.
W

[2017-09-17 11:57] tapasweni-pathak opened #112 "Enable rating on user profile based on their contributions"
Rating contributors 🚀 🌟. If you see there is nothing existing which rates contributors based on their open source contributions, this is not yet competitive. But this needs a lot of discussion before we implement.

#96 and #97 have few starting discussion points already. We will use this issue to finalize the requirement/calculation before we go ahead and implement this.

[326832508](https://githu

[2017-09-17 11:57] tapaswenipathak commented on #97
@vaibhavsingh97 I am all up for chatbot. A slack or/and one on the website. A basic one which answers questions like I know a, b, c, how should I get started with and with what? I would be happy to work with you on this. Can you create a separate issue for this?

@anubhakushwaha Rating contributors is 💯. Always had this in mind. But this needs a lot of discussion have created #112 to take the disc

[2017-09-17 11:59] tapaswenipathak commented on #96
@anubhakushwaha All suggestions are 🌟 and implementable. Can you please open a separate issue for all of them. Discussing on issue level is easier and then we can also assign or pick issues.

[2017-09-17 12:00] tapaswenipathak commented on #95
@vaibhavsingh97 @jarifibrahim  Is this done?

[2017-09-17 12:01] tapaswenipathak commented on #76
@sandarumk As discussed you will be pushing this fix. I have assigned this to you. Also it would be good to have @nikhita for this. :)

[2017-09-17 12:02] tapaswenipathak commented on #1
@vaibhavsingh97 Sure, assigned this to you.

[2017-09-17 12:04] tapaswenipathak commented on #22
@nikhita @jarifibrahim Do we need this now or it is already done?

[2017-09-17 12:08] tapaswenipathak commented on #23
@anubhakushwaha Updated #24 and assigned it to you. 🚀

[2017-09-17 12:12] Srijancse-zz commented on #112
I feel it is really tough to rate/score contributors on the basis of their open source contributions unless we are only talking about code contributions [which is again a hectic task] because the contributions could be in the form of documentation/design too.

[2017-09-17 12:20] tapaswenipathak commented on #110
I have created predev branch and on Heroku the app is opensourcehelpcommunity-predev. I have also shared the access of this with both of you. Please let me know if there are any issues.

[2017-09-17 12:24] tapasweni-pathak opened #113 "A session specific page for signed in user"
As the first step for #24, user should see a page informing them that they are logged in.

[2017-09-17 12:24] vaibhavsingh97 commented on #95
@tapasweni-pathak I am working on this, I will try to update as soon as  possible 😄

[2017-09-17 12:29] tapaswenipathak commented on #112
Even I have the feeling that it is very difficult(if we consider everything) but not able to have the feel that it is impossible to rate contributions and yes all kinds of contributions need to be considered. Initial thing will be rating on mainly code contributions closing labelled issue(s). We need to start with something and than work on making it better.

[2017-09-17 12:39] tapasweni-pathak opened #114 "Merge develop with master"
After a stable state and making some essential features live, I will be merging develop with master and making it live.

Good if we go as the planned and finish a bit before December as discussed.

cc @OpenSourceHelpCommunity/everyone.

[2017-09-17 13:47] anubhakushwaha opened #115 "Show all the sessions on the website itself so that the user can bookmark those sessions for future"
**FEATURE REQUEST**:

**Description**:
For ease of the user, we can allow users to bookmark the sessions they found relevant and at a later point want to access it easily. Starter point of #96

[2017-09-17 13:51] anubhakushwaha opened #116 "Functionality to view previous requests for sessions"
**FEATURE REQUEST**:

**Description**:

As of the current scenario, the user can request for sessions, adding this feature would allow the user to go through his history of requests, I am still not sure if this functionality will be of any specific use or not, let me know your opinions @OpenSourceHelpCommunity/everyone , follow up of #96

[2017-09-17 15:13] sandarumk commented on #76
I agree with the others with the second option. I will have the write up ready at the end of this week and then work on the improvements with @nikhita .

[2017-09-17 19:53] vaibhavsingh97 opened #117 "is it better to migrate OpenSourceHelpCommunity from `Heroku` to `DigitalOcean`?"
## AWS

Amazon AWS provides a group of cloud computing services, all provided over the internet and run together within the Amazon cloud. Most commonly used Amazon AWS offerings are for hosting an app are EC2, S3, and SES.

**Service type:** Amazon's EC2 instances are themselves more or less purely IaaS, but the full AWS suite offers a wide range of services to optimize and automate some tasks. Th

[2017-09-17 20:10] vaibhavsingh97 opened #118 "Functionality to view all contests at one place"
## **FEATURE REQUEST:**

**Description**:
As of now users struggle to search various open source competition where beginners can contribute. Competitions like Codeheat, Hactoberfest (About to start), etc. are beginner friendly but only some of them know. So if we collect all the information and list them on our website. Please let me know your opinions @OpenSourceHelpCommunity/everyone

[2017-09-18 06:59] nikhita commented on #118
+1. Had no idea about Codeheat.

[2017-09-18 07:10] nikhita commented on #76
@sandarumk Awesome, please ping me on Slack whenever you are done with the post and we can collaborate on this. :)

[2017-09-18 07:13] nikhita commented on #116
Sounds good. :+1:

We can probably have this as a "lower" priority compared to other features but would be definitely nice-to-have.

[2017-09-18 07:22] nikhita commented on #22
@tapasweni-pathak Not done yet. I can take a dig at this later this week.

But just to be clear, do we still want folks from outside the team editing the wiki? I can see the benefits in allowing to do so but am not so sure if it is really that useful anymore.

[2017-09-18 07:27] nikhita commented on #100
@anubhakushwaha Looks great! :smile:

@tapasweni-pathak Nice idea! One question though: the Mapbox link shows how the company has progressed over the years (and people's contributions to that). We are still in our nascent stages so if we have a similar page...would it be a little too sparse? I like the idea but just want to be sure we don't end up with a negative connotations. :)

[2017-09-19 06:14] amarlearning commented on #116
@anubhakushwaha this will definitely be a good add-on. I think @tapasweni-pathak proposed this idea before also to make a separate view tab for all the hosted sessions.

I think this should be a medium priority issue. :+1:

[2017-09-19 12:44] abarya commented on #116
I'd like to take up this issue @anubhakushwaha

[2017-09-19 17:40] anubhakushwaha commented on #116
@abhishekarya286 Thanks for making an initiative, exactly how we will go ahead with this needs a bit more discussion, as soon as things are clear you can work on it, anyways what are your thoughts on this? As in how do you suggest implementing this for the most optimal use?

[2017-09-19 17:41] anubhakushwaha commented on #118
@vaibhavsingh97 It's an awesome idea

[2017-09-19 20:20] vaibhavsingh97 opened #119 "Installation Documentation improvement"
As of now new users can easily understand how to install this webapp locally but if they want to deploy the application in heroku they can't because of lcak of explaination. We could have something like this:
![image](https://user-images.githubusercontent.com/8705386/30612369-d357d154-9d73-11e7-8b82-044f304ab97d.png)
More organized documenation and proper steps to deploy locally and on heroku

[2017-09-19 20:24] vaibhavsingh97 commented on #119
@tapasweni-pathak I can raise seperate issues for these and these issues can be fixed by first time contributor.

[2017-09-19 20:25] vaibhavsingh97 commented on #119
@anubhakushwaha @nikhita Please share your opinion 😄

[2017-09-19 20:28] vaibhavsingh97 opened #120 "Improvement in Issue template"
- Addition of checkbox in first question

[2017-09-19 20:43] vaibhavsingh97 opened #122 "Addition of new labels to tag issues"
Following labels are needed :

    has-pr : To tag issues which already has a PR.

[2017-09-20 04:48] nikhita commented on #122
Should it be `has-PR`? or `has-pr`? Both of them look weird to me. :thinking:

Maybe just `assigned`? The point is someone is working on the issue and it is not free to be taken by others. It's not necessary that the person who wants to work on it has already sent a PR, maybe there are still working on it.

@vaibhavsingh97 wdyt?

[2017-09-20 04:51] nikhita commented on #119
@vaibhavsingh97 I :heart: it!

[2017-09-20 04:53] nikhita commented on #117
Was there a discussion on Slack about this? There were a lot of messages when I opened it and I'm guessing I probably missed something...

[2017-09-20 04:58] vaibhavsingh97 commented on #122
@nikhita I think we need both labels, as i f someone already sent the PR then we can use `has-pr` and if no in sent the PR but already working on the issue, we can add `assigned`.

[2017-09-20 04:59] nikhita opened #123 "PR template: remove status checkboxes"
Piggybacking the discussion from https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/pull/121#issuecomment-330743617:

- update the labels to list out the word `status` explicitly.
- remove the checkboxes from the PR template.

[2017-09-20 05:10] vaibhavsingh97 commented on #117
@nikhita As Digitalocean offered us to sponsor as an hosting service but @tapasweni-pathak want's to stick with heroku. This issue is created so that we can discuss what would benefit us for a long term. I created a brief report between Heroku, DigitalOcean and AWS discussing about benefits and type of service they all offer so that we can make decision better. Hope you understood! 😃

[2017-09-20 05:13] vaibhavsingh97 commented on #123
@nikhita I think the labels issue should be addressed seperately as after merging the PR, github will close this issue.

[2017-09-20 05:16] nikhita commented on #123
@vaibhavsingh97 Shouldn't be a big problem, I'll update the labels in a bit.

[2017-09-20 05:45] #120 closed

[2017-09-20 05:47] vaibhavsingh97 commented on #119
@nikhita What i am thinking to have a gist/Google doc where everyone can collaborate and can improve installation documentation to more beginer friendly.

[2017-09-20 05:53] nikhita commented on #123
Updated the labels. Now, we have:

1. `status: Needs Review`
2. `status: In Development`
3. `status: On Hold`
4. `status: Needs Merge`

Let me know if this is fine. If there are any changes to be made, I'll update the labels accordingly.

[2017-09-20 05:55] vaibhavsingh97 commented on #123
@nikhita It's perfect 🎉

[2017-09-20 05:55] nikhita commented on #119
@vaibhavsingh97 Sounds great. I think we should go with a google doc since it has better sharing features.

Just to be clear, the google doc will be kind of a "draft", right? We'll later port it to markdown?

[2017-09-20 05:56] vaibhavsingh97 commented on #119
@nikhita yeah, It's just a draft, We would port that draft in markdown. I will share the link of doc in a minute

[2017-09-20 07:37] tapaswenipathak commented on #118
1. User signin
2. Click on submit a contest
3. Add information like Name, link, description, start date, end date, other info about the contest -> submit [new table in db]
4. A page on main website, opensourcecontests fetches info and shows.

[2017-09-20 07:42] tapaswenipathak commented on #122
I would say a no to this, as the committer should be suggested to link the issue with the pull request so that anyone can see, we need not explicitly keep track of it.

[2017-09-20 07:48] tapaswenipathak commented on #115
1. User logs in.
2. Clicks on allsessions page on the website.
3. Click on send information to email -> information sent to email.

Next step
1. User logs in.
2. Clicks on allsessions page on the website.
3. Click on bookmark.
4. We maintain a unique ID for every session, in a new column we link all the bookmark with userid.
5. User clicks on mybookmarkedsession -> fetch all the ids from user tabl

[2017-09-20 07:52] tapaswenipathak commented on #116
I think we are getting confused in showing all sessions and showing the sessions which the user requested before. I would suggest not to handle the case for user to show their previous request. As user can request session from anyone by using this feature in the website, we take it as a request and we do not work on providing the details about their previous request. A kind like user requests a re

[2017-09-20 07:52] #116 closed

[2017-09-20 08:05] tapaswenipathak commented on #22
Yes, we want to. We need writeups on how they installed and made it live in their local. We'll see later if need any changes there. Assigning this to you.

[2017-09-20 08:09] tapaswenipathak commented on #97
Created a separate issue, so closing this one. Also decisions about the session we keep to us.

[2017-09-20 08:09] #97 closed

[2017-09-20 08:11] tapaswenipathak commented on #100
We will show how we joined with how we started and helped with what tasks, less concentration on member, more on how and what they did with/to OSHC.

[2017-09-20 18:10] anubhakushwaha opened #125 "Request for installation guide in the form of GIF/Screenshots"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request

**Description**:
New developers can request for installation guide in the form of GIF/Screenshots,etc about any open source project they are working on and our team can respond back to them accordingly

We basically want design ideas from your side,how would you place it on our site so that it's easily accessibl

[2017-09-20 18:17] abarya commented on #1
Hi @tapasweni-pathak,
I'd like to work on this issue. A few things on which I need some clearity,
- Do I need to remove the upcoming sessions info from the home page?
- In case of past speakers, what all do I need to provide? I think of something like below:

[Joannah Nanjekye](https://github.com/nanjekyejoannah)

The link will be of their personal website or github profile.
Any suggestions on thi

[2017-09-20 18:25] anubhakushwaha opened #126 "Add a "My Journey" section to the website"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] support request

**Description**:
Add a "My Journey" section, where the developers can add their experience with open source

Open to thoughts about how to incorporate this :)

[2017-09-20 18:35] anubhakushwaha commented on #122
Closing this.

[2017-09-20 18:35] #122 closed

[2017-09-20 18:36] anubhakushwaha commented on #96
Closing since it has been handled separately in #115, #126 and #112 .

[2017-09-20 18:36] #96 closed

[2017-09-20 18:51] abhishekarya286 opened #127 "Request Session Button not visible"
Using chrome, if I open the `request session` webpage, then the **request session** button in the typeform is not clearly visible. I'm also attaching a screenshot.

FYI, it works fine in firefox.

![image](https://user-images.githubusercontent.com/24565261/30661629-408da764-9e62-11e7-8f59-b4e9c797268f.png)

[2017-09-20 19:10] vaibhavsingh97 commented on #127
@abhishekarya286 Can you please fix it and send a PR 😄

[2017-09-20 20:07] abarya commented on #127
Actually, the way I tried to do this was by changing the height of the typeform to 80%. Is it fine, @vaibhavsingh97?

[2017-09-22 09:11] #123 closed

[2017-09-23 11:45] tapaswenipathak commented on #1
@abhishekarya286 Great! we would like to have something similar as [this](http://www.mycodeschool.com/videos) for 1 linked to ```sessions``` on homepage, which currently links to the YouTube channel. First embed the YouTube session and then a new page.

For second, upcoming session will remain on the home page where they are.
For 3, when the user click on the session link, a new page will open hav

[2017-09-23 13:42] abarya commented on #1
@tapasweni-pathak, thanks for the info.

[2017-10-01 13:28] devesh-verma commented on #103
@tapasweni-pathak @vaibhavsingh97 I would like to work for this. As I am pretty new to open-source and also I started off with open-source with help from open source help community. This will be a great opportunity for me.

[2017-10-01 13:30] devesh-verma commented on #119
@vaibhavsingh97 can I take this one?

[2017-10-01 15:46] devesh-verma commented on #6
@tapasweni-pathak is this issue resolved? if not I would like to work on it.

[2017-10-03 08:10] bhatiatanish commented on #111
I'd like to take up this issue. Can you assign me that?

[2017-10-03 09:02] nikhita commented on #111
@bhatiatanish Only collaborators and members of a Github org can be assigned. However, consider yourself assigned and feel free to work on it. :)

[2017-10-04 19:53] abarya commented on #118
Hi @tapasweni-pathak,
I've started working on this. Will do it by tomorrow.

[2017-10-07 17:27] tapaswenipathak commented on #111
Closed with e88dada9165036a58e73426bdec83a7d7c23da75.

[2017-10-07 17:27] #111 closed

[2017-10-07 17:52] abhishekarya286 opened #130 "Add a pre-linting file"
I think there is a need to add a file that can check for linting errors before pushing changes to the remote repo.

[2017-10-07 17:57] vaibhavsingh97 commented on #130
@abhishekarya286 Please use issue template to create new issue. 😄
Also, Please mention example/screenshot/link wherever necessary. Thanks 😄
Are you talking about editorconfig?

[2017-10-10 06:37] abarya commented on #99
@anubhakushwaha, still working on this?

[2017-10-10 15:52] anubhakushwaha commented on #99
@abhishekarya286 You can take it up

[2017-10-10 16:44] abarya commented on #99
Great!!

[2017-10-12 10:39] devesh-verma commented on #113
@tapasweni-pathak hey I am a first-timer, if there's no activity in this I would like to work on this.

[2017-10-12 11:31] sandarumk opened #131 "Finished Session in Upcoming Sessions"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Description**:

In the "Upcoming Sessions" section in the website should only show the upcoming sche

[2017-10-12 11:35] sandarumk commented on #76
I just started writing this. Apologies for being very late. @nikhita @tapasweni-pathak I have a question though. Should it be written on my perspective or open source communities perspective. What I meant was I can write some thing like the below two options.

- I saw the problem of lack of knowledge and started the community
- The community is started to rectify the issue of lacking the knowledge

[2017-10-12 11:42] sandarumk commented on #100
Does that mean a time line like this:
Started-> Created the slack group-> Started the Youtube Sessions-> Created the Website-> etc?

[2017-10-12 11:43] nikhita commented on #76
Totally ok! :)

I'd say write it from your perspective but replace all the "I" and "me" parts with "we" and "us". That way we can have professionalism with a personal touch. :)

[2017-10-12 12:43] vaibhavsingh97 commented on #113
@devshiva619 Right now there is no registration model, Please wait for a day or two, I will send PR for the same than you can work on this issue 😄

[2017-10-12 12:44] vaibhavsingh97 commented on #131
@sandarumk I already sent PR and it's merged. It's that it's not reflected to master branch 😄 so main website don't have this feature

[2017-10-12 14:38] vaibhavsingh97 opened #132 "Requirements are outdated"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Expected Behavior**:
Requirement should be uptodate

**Would you like to work on this issue?**
- [x]

[2017-10-12 15:40] vaibhavsingh97 opened #134 "Enabling Requires.io"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Description**:
Requires.io keeps your python projects secure by monitoring their dependencies.

[2017-10-12 16:06] tapaswenipathak commented on #100
brainstorm more. :) I will share in text form the plan, we can then work more on it.

[2017-10-12 16:10] tapaswenipathak commented on #76
💯

When it comes to writing a why OSHC on the website itself, I prefer speaking from Organization perspective. I would avoid any personal touch, concentrate more on the mission and vision of the org. I go with second.

[2017-10-12 16:17] tapaswenipathak commented on #131
The master branch keeps the session details on the main website until next is not announced. This will be fixed with next session soon. What we can do is after the session completes, the register now should be changed to view the session linking to the YouTube link.

[2017-10-12 16:22] #132 closed

[2017-10-13 17:37] jarifibrahim commented on #130
@vaibhavsingh97 We should add linter config files and configure Travis CI to perform linting on our code. This process ensures that all the code we write follows the standard convention.
[Pylint](https://www.pylint.org/) is one such linter for Python.

[2017-10-14 05:05] #118 closed

[2017-10-14 06:57] tapaswenipathak commented on #131
For now 8da0e7b005de30f4ff9a7843f60607be86bc05ca closes this.

[2017-10-14 06:57] #131 closed

[2017-10-15 14:45] jarifibrahim commented on #110
@tapasweni-pathak @vaibhavsingh97 The commit https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/commit/d1ec086f01428d87a7453d919490e0606ee0d495 removed the database settings for Heroku.

Heroku does not have any file system so SQLite will never work. We're using Postgres on Heroku. The environment variable `DATABASE_URL` on Heroku contains the connection URL.

I've sent a

[2017-10-15 14:46] jarifibrahim commented on #110
@tapasweni-pathak Once the PR is merged someone will have to run `python manage.py migrate` on Heroku. This should create the necessary tables.

[2017-10-15 18:01] #110 closed

[2017-10-16 00:53] tapasweni-pathak opened #137 "Merge develop with predev [update predev] and make it live"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [X] maintenance request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Description**:

All new pull request should be based on predev.

[2017-10-16 00:56] tapaswenipathak commented on #137
9dc58dd95064912534da612b349062d7d778c369 closes this.

[2017-10-16 00:56] #137 closed

[2017-10-16 01:38] tapasweni-pathak opened #139 "ProgrammingError at /contests/ [dev, predev]"
[code]

[2017-10-16 01:39] tapaswenipathak commented on #139
Fixed after resetting Heroku database and running migrate.

[2017-10-16 01:39] #139 closed

[2017-10-16 01:50] tapasweni-pathak opened #140 "Enable admin/superuser in dev, predev deployement"

[2017-10-16 01:51] tapaswenipathak commented on #140
Enabled, published a contest.

[2017-10-16 01:51] #140 closed

[2017-10-16 01:54] tapasweni-pathak opened #141 "Use django-crispy-forms"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Description**:

Replace normal form tag with django-crispy-forms. Mainly /contests/.

[2017-10-16 01:55] tapaswenipathak commented on #6
@devshiva619 Please go ahead and test the [dev](http://opensourcehelpcommunity-dev.herokuapp.com/) and [predev](http://opensourcehelpcommunity-predev.herokuapp.com/) deployement.

[2017-10-16 02:09] tapasweni-pathak opened #143 "Change heading on /contests"
On /contests/ replace *Replace List of Upcoming Contests*  with *List of Upcoming Open Source Contests*

[2017-10-16 18:31] devesh-verma commented on #143
@tapasweni-pathak I would like to work on this.

[2017-10-18 11:40] #143 closed

[2017-10-18 13:41] tapasweni-pathak opened #148 "ValueError at /add_contest/"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

Submit any set of character but a valid date in dates in /contests/, [error](https://i.gyazo.com/9e010

[2017-10-18 13:43] tapasweni-pathak opened #149 "Turn debug false on dev deployment"
```develop``` to test before making it live on actual deployment not to see error logs. We'll use predev for that.

[2017-10-18 13:49] tapasweni-pathak opened #150 "Bring thank you text in the center"
On /submit_contest/ page, bring the text in the center of the page i.e., both horizontally and vertically in the center of the page.
![thank you page](https://user-images.githubusercontent.com/4143778/31722152-07255f34-b439-11e7-89af-733e7bad29c3.PNG)

Also replace *Y* with *y*.

[2017-10-18 13:53] tapasweni-pathak opened #151 "Add Slack icon on footer"
Link it to the [inviter](https://opensourcehelp.herokuapp.com/).

[2017-10-18 14:54] Logan1x commented on #151
I would like to work on this @tapasweni-pathak.

[2017-10-18 15:33] GeekBoxIT commented on #150
I'll take this one!

[2017-10-18 16:07] sparkle-sparkle commented on #148
Hi, I would like to do this for you :-)

[2017-10-18 18:17] tapaswenipathak commented on #151
Closed with b709a40996e74e488d3a94f17de5ef4d01c814ae.

[2017-10-18 18:17] #151 closed

[2017-10-19 00:43] vaibhavsingh97 opened #159 "Enable approve of contest from admin dashboard initial page [list of contests]"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Expected Behavior**:
Admin Dashoard show all details of contests like Name of contest, link of conte

[2017-10-19 01:59] vaibhavsingh97 opened #161 "Approve contests in Admin"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Expected Behavior**:
Admin have to open each contests in order to approve contest in Admin dashboard

[2017-10-19 13:34] Glassig commented on #150
Is this fixed (ie should it be closed) or does it need a fix?

[2017-10-20 11:36] tapasweni-pathak opened #163 "Intergrate flake8 with Travis"
- [x] Add flake8 installation instruction in requiements.txt
- [x] Add the run command in .travis.yml
- [x] Test after enabling Travis for your fork
- [x] Submit a PR.

[2017-10-20 11:41] tapasweni-pathak opened #164 "Separate settings file for dev, predev and production"
Currently we have one settings file running for all the deployments.
Few important changes required our :

1. Debug should be false for all but predev.
2. Secret key should not be exposed.

[2017-10-20 11:45] tapasweni-pathak opened #165 "Separate requirements file for dev and production deployment"
Packages like ```coverage```, ```flake8``` need not reside in production related requirement.txt.

Create a separate requirements.txt, say ```dev.txt``` and ```prod.txt```.  ```-r prod.txt``` in dev.txt. ```prod.txt``` should only include packages neccessary for production deployment.

[2017-10-20 11:52] tapaswenipathak commented on #159
Can you please click on the contest name, it should show you all the fields then. Is this in your local deployment?

[2017-10-20 11:55] vaibhavsingh97 commented on #159
@tapasweni-pathak why extra click to get all the details?

[2017-10-20 12:02] tapaswenipathak commented on #159
The directory structure works like

List of tables -(click on one)-> field return from object's unicode function ([in our case, contest name](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/blob/predev/oshc/main/models.py#L29)) -(click on it)-> and you get all the details.

This looks good to me for this table.

[2017-10-20 12:04] vaibhavsingh97 commented on #159
@tapasweni-pathak  if user has submitted too many competition than it's not ideal that admin click on each competition to approve...he can see form main dashboard and approve the same :sweat_smile:
Please visit #160 to see the screenshot to get more insight

[2017-10-20 12:05] tapasweni-pathak opened #166 "Disallow the user to submit a contest name with all special characters"
I am able to submit a contest name having only special characters. A regex having a check that name should have either small characters or capital characters other than numbers or special characters should do.

[2017-10-20 12:12] mathagician commented on #163
@tapasweni-pathak I would like to work on this issue.

[2017-10-20 12:13] vaibhavsingh97 commented on #163
@mathagician Sure!! Just send PR fixing the same 😁

[2017-10-20 12:18] ghost commented on #166
I will give it a try :)

[2017-10-20 12:19] vaibhavsingh97 commented on #166
@wallid Sure!! I believe you can do it 😎. Send a PR fixing the issue

[2017-10-20 12:22] ghost commented on #166
Could you familiarize me with the process of doing a fix.
My thoughts ....
1. Clone the repo 2. run 3. fix the bug 4. then create a pull request.

[2017-10-20 12:25] vaibhavsingh97 commented on #166
Yeah!! You already know the process 🎉
Let me know if you want any further help to fix this issue

[2017-10-20 12:56] ghost commented on #166
I'm getting an error after i run it in the browser. 500 internal server error in the centre container. I was unsure of how to setup the environment variable for DEBUG on windows 10
* all good run the migrations.

[2017-10-20 13:10] ghost commented on #166
@vaibhavsingh97  I added regular expression, created my own branch then merged it to the predev. Tried pushing the predev but there was an authentication error.

[2017-10-20 13:46] mathagician commented on #163
@vaibhavsingh97 and @tapasweni-pathak have sent a PR for the same. Please review it.

[2017-10-20 13:52] mathagician commented on #150
This issue is not yet fixed, so I am taking it.

[2017-10-20 16:05] kurianbenoy commented on #150
Can I still work on it?

[2017-10-20 16:23] #161 closed

[2017-10-20 16:25] tapaswenipathak commented on #159
Great! Why did you do it in parts? Also I changed the title of this issue a bit. Closed with 575c764765de1f4f5c7de863120dd9c222584415.

[2017-10-20 16:25] #159 closed

[2017-10-20 16:40] vaibhavsingh97 commented on #159
@tapasweni-pathak there was a reason I did in parts....please look at my comment in the PR

[2017-10-20 17:13] tapaswenipathak commented on #159
#162 has changes required to show all the fields on the initial page and also approve from there. :)

[2017-10-20 17:29] tapaswenipathak commented on #166
You figured out complete workflow. **woot!**
This last step only we can do, that's why you are getting authentication error. :)

[2017-10-20 22:52] amakarudze commented on #164
I could work on this if no one took this up already.

[2017-10-20 23:38] vaibhavsingh97 commented on #164
@amakarudze sure!! You can take this issue

[2017-10-21 01:32] tapaswenipathak commented on #166
Only allowed characters for now, upper case, lower case, space and/or hyphen. Closed with ae7d124a700d571a2ab26372b605fefe469cc662.

[2017-10-21 01:32] #166 closed

[2017-10-21 20:16] #150 closed

[2017-10-22 05:09] #95 closed

[2017-10-22 06:19] tapasweni-pathak opened #174 "Test user authentication deployed on predev"
[Predev deployment](http://opensourcehelpcommunity-predev.herokuapp.com) now has user authentication enabled. We need to test it for different scenarios. While testing the errors and behavior is not consistent as what we can see when we tested internally.

As part of this issue, please go ahead and test predev deployment, specially user authentication and feel free to raise issues.

[2017-10-22 10:00] vaibhavsingh97 opened #175 "Wall with FOSS contribution and good practices"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Description**:
Current scenario is that users on slack asking how to contribute in FOSS? I know a,b,

[2017-10-22 10:01] vaibhavsingh97 commented on #175
Cc: @tapasweni-pathak @jarifibrahim @nikhita @sandarumk @Srijancse

[2017-10-22 11:58] mathagician commented on #163
a new PR is https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/pull/178

Please see it

[2017-10-22 14:10] Srijancse-zz commented on #175
+1.
I have written a [blog](http://www.srijanagarwal.me/writing/contribute-to-open-source/) on the same before, which is the first thing I share with anyone who asks me this.

[2017-10-22 19:08] vaibhavsingh97 opened #179 "Add test cases"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Description**:
- Add test case for authentication using Email
- Add test case for contest form and C

[2017-10-24 03:01] vaibhavsingh97 opened #183 "New label needed"
Following labels are needed:
- Work in Progress/ WIP : To tag PR which are not yet ready but work in progress

[2017-10-24 09:39] nikhita commented on #183
@vaibhavsingh97 why not use the `status: In Development`?

[2017-10-24 09:40] nikhita commented on #183
If it feels better, we can make `status: In Development` as `status: WIP` or something like that.

[2017-10-24 09:50] nikhita commented on #175
Sounds awesome, @vaibhavsingh97!

I am not sure how feasible/scalable this is here but for Kubernetes, we are
looking to build something called as "contributor journeys". It means the
person selects whatever topics he is knowledgeable about and we show him
the most appropriate projects/repos where he can contribute.

I also understand that this is a little tangential to your idea (we should
totall

[2017-10-24 10:00] nikhita commented on #126
cc @vaibhavsingh97 because he is full of good ideas :)

[2017-10-24 10:01] nikhita commented on #108
Is this still an issue?

cc @abhishekarya286 @anubhakushwaha

[2017-10-24 12:08] abarya commented on #108
@nikhita I can't see registration page now.

[2017-10-24 12:37] vaibhavsingh97 commented on #108
@abhishekarya286 visit: http://opensourcehelpcommunity-predev.herokuapp.com/
Note: If you succesfully signup then you will be greeted by `Internal Server Error` and you can login

[2017-10-24 12:43] vaibhavsingh97 commented on #126
@anubhakushwaha @nikhita What i think that we can have something like of medium and instead of clap, user can give love and comment

[2017-10-24 12:45] vaibhavsingh97 commented on #108
This is not an error, as SMTP is not configured till now, that's why you get `Internal Server Error` as app tries to send email for verfication purpose.
Also, you can help with #174 😄

[2017-10-24 12:50] vaibhavsingh97 commented on #175
@nikhita That's look awesome to me 😄 What we will do is that we can ad this to our next milestone. So please open issue as this can be missed if we leave it here.

[2017-10-24 16:24] nikhita commented on #126
@vaibhavsingh97 Something like Dev.to?

[2017-10-24 16:27] nikhita opened #184 "Point contributor to projects based on previous experience"
**I'm submitting a ...**
- [x] feature request

Copying from https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/issues/175#issuecomment-338936972:

I am not sure how feasible/scalable this is here but for Kubernetes, we are
looking to build something called as "contributor journeys". It means the
person selects whatever topics he is knowledgeable about and we show him
the

[2017-10-24 16:28] nikhita commented on #184
/cc @vaibhavsingh97

[2017-10-24 16:28] nikhita commented on #175
@vaibhavsingh97 created #184.

[2017-10-24 16:36] vaibhavsingh97 commented on #126
@nikhita Medium looks cool to me 😅 we only need love not other emojis

[2017-10-26 17:54] ns61817 commented on #6
Is the main difference between Dev and predev the sign up feature?  Attached are 2 screenshots on 2560 x1440
![10-26-2017 1-34-32 pm](https://user-images.githubusercontent.com/3475873/32068789-3b1785a2-ba55-11e7-9037-3bab64f32ac6.jpg)
![10-26-2017 1-34-00 pm](https://user-images.githubusercontent.com/3475873/32068790-3b245aa2-ba55-11e7-8057-52406c421dee.jpg)

[2017-10-28 01:38] tapaswenipathak commented on #183
Generic way which is followed is to have a [WIP] in your pull request, also I would not encourage too many [WIP] pull request, as it kind a blocks the issue. But if you have too many changes then WIP is super cool way to share that it is ongoing. Do you still need a separate label for this @vaibhavsingh97?

cc @nikhita.

[2017-10-28 01:45] tapaswenipathak commented on #108
👋 Closing this one as predev has which we need to test and separate issue for this.

[2017-10-28 01:45] #108 closed

[2017-10-28 02:27] tapaswenipathak commented on #6
@ns61817 Yep, big one! Also Django Crispy Forms are not enabled on dev deployment. You can go to dev branch and check how many commits behind it is then predev, those are available on predev and not on dev deployment.

You can test for the features available on these different deployments. ✨

[2017-10-28 04:04] tapasweni-pathak opened #185 "Update Travis and Coveralls badge link to predev branch"
Check the [markdown for README.md](https://raw.githubusercontent.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/predev/README.md). Both Travis badge and Coveralls badge points to develop branch. Change it to predev branch, like

- [ ] Travis  badge should point to: https://travis-ci.org/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io.svg?branch=predev
- [ ] Coveralls badge

[2017-10-28 05:37] chinmaykunkikar commented on #185
I'm on it. I've contributed many times but this is my first hacktoberfest contribution. So do I become a "first-timer-only"?

[2017-10-29 17:38] nikhita commented on #183
Agreed, this is a common way.

If you still need one though, let me know though! :slightly_smiling_face:

[2017-10-29 17:40] vaibhavsingh97 commented on #183
@nikhita We can close this as traditional method looks good to me 👍

[2017-10-29 17:40] #183 closed

[2017-10-29 17:43] #185 closed

[2017-10-29 18:00] nikhita opened #188 "Rename the "easy" label"
While contributing to open source projects, I have often noticed that what seems as "easy" to the developer working on the project is probably not that easy to me as a newcomer. And when I start working on an "easy" issue and face trouble, I feel demotivated that I am not qualified to solve even a simple issue.

Not sure if everyone feels like this or it's just me. ¯\\\_(ツ)\_/¯

I propose that we

[2017-10-29 18:00] nikhita commented on #188
/cc @vaibhavsingh97 @tapasweni-pathak @anubhakushwaha

[2017-10-29 18:14] vaibhavsingh97 commented on #188
@nikhita I also think so but `easy` issues are easy and these issues are solvable by beginner but not by new commer/first timer. Also, new commer/first timer can pick easy issues. So can we can solve this issue by writing documentation just like [this](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html). Not this extensive guide but some sort of this so that developer can understand whi

[2017-10-29 18:21] nikhita commented on #188
Sounds awesome! We definitely need an effort in that direction. :+1:

Ok, I see how `easy` and `first-timers-only` can be mutually exclusive. However, I still feel that we should rename `easy` to `beginner`.

This is easy (I made a pun, omg!) for us to say because we are familiar with the codebase but to someone new jumping in, it might not always be the case.

[2017-10-31 12:06] tapaswenipathak commented on #188
Coool! We can have something like Difficulty: Easy, Difficulty: Medium, Difficulty: Hard; Type: Bug, Type: Enhancement, Type: Maintenance, Type: Question, Type: Testing with first-timers-only for the bot. 🎉

[2017-11-02 14:58] kurianbenoy commented on #141
Has this issue been closed ?

[2017-11-13 05:47] Logan1x opened #190 "To make mailing list for http://opensourcehelpcommunity-predev.herokuapp.com/contests/"
**I'm submitting a ...**  (check one with "x")
- [x] feature request
**Description**:
[This](http://opensourcehelpcommunity-predev.herokuapp.com/contests/) idea is very good but we should add mailing list so that anyone who's subscribed gets notify when we add new contest. What do you guys think?

**Would you like to work on this issue?**
- [x] No

[2017-11-18 13:01] tapaswenipathak commented on #190
:wave: Slack is one way to stay updated. In future user would sign in and send a mail for a reminder for the content.

[2017-11-18 13:01] #190 closed

[2017-11-18 13:06] tapaswenipathak commented on #188
Closing this, [updated the labels](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/labels).

[2017-11-18 13:06] #188 closed

[2017-11-18 13:07] tapaswenipathak commented on #1
@abhishekarya286 :wave: working on this?

[2017-11-18 13:08] tapaswenipathak commented on #22
:wave: @nikhita should we close this?

[2017-11-18 13:10] tapaswenipathak commented on #52
Closing this, retesting and would create new if I am able to sign in.

[2017-11-18 13:10] #52 closed

[2017-11-18 13:11] tapaswenipathak commented on #99
:wave: @abhishekarya286 working on this?

[2017-11-18 13:29] vaibhavsingh97 commented on #52
@tapasweni-pathak Allauth takes care of this so no worry 😅.

[2017-11-18 13:32] tapaswenipathak commented on #52
I know allauth should handle this, would retest and create new if I am able to sign in.

[2017-11-21 16:50] abarya commented on #99
Nope

[2017-11-21 16:50] abarya commented on #1
Nope

[2017-11-23 20:32] nikhita commented on #22
Closing. We can reopen if needed later.

[2017-11-23 20:32] #22 closed

[2017-11-25 17:29] kurianbenoy commented on #174
I GOT an internal server error when signing up

[2017-11-25 17:37] vaibhavsingh97 commented on #174
@kurianbenoy Yes, It's because authentication try to send email but SMTP is not configured as email and password will be exposed to public. Check here:
https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/blob/4b8f7c3620497e1b15a56e4d7d988667b6a1f2ad/oshc/oshc/settings.py#L162-L163
So if you know a way that we can encrypt than please feel free to send PR.

[2017-11-26 03:02] tapaswenipathak commented on #163
Closed with #191.

[2017-11-26 03:02] #163 closed

[2017-11-26 04:52] tapasweni-pathak opened #195 "Move all to pip3 and Python3 + Cleanup Travis"
- [ ] Support Python 3.4 and 3.6.
- [ ] Upgrade pip before_install.
- [ ] Use pip3 and not pip.

[2017-11-26 05:13] tapasweni-pathak opened #197 "Add form to request authorization to tag everyone on Slack general"
If someone wishes to give a shout out of useful information usually announcements to everyone in Slack channel, currently >500 members in 12 timezones, they need to have authorization to use @ channel or @ everyone which is only limited to admins.

Add a form which when filled with following details would send a request to email id which will then be approved by the admin and taken back after they

[2017-11-29 17:24] kurianbenoy commented on #174
@vaibhavsingh97  I have used a module named python-decouple to secure my SECRET KEY in django. I think this can be used in this case also

source : `https://simpleisbetterthancomplex.com/series/2017/10/16/a-complete-beginners-guide-to-django-part-7.html#project-settings`

[2017-11-29 17:28] tapaswenipathak commented on #174
Please go ahead @kurianbenoy!

[2017-11-30 06:07] vaibhavsingh97 commented on #174
Awesome!! 😍😍

[2017-12-03 11:36] kurianbenoy commented on #174
@tapasweni-pathak  and @vaibhavsingh97  I wont be able to work on the issue immediately. I will be available only from December 20(due to university examination)

[2017-12-06 18:23] anubhakushwaha commented on #148
@sparkle-sparkle Working on this?

[2017-12-07 08:28] sparkle-sparkle commented on #148
I've pushed on 18 October and haven't done anything after that on this issue.

[2017-12-09 13:42] anubhakushwaha commented on #148
@tapasweni-pathak Does this issue has more requirements then sent by @sparkle-sparkle in #157  as I think it can be closed .

[2017-12-09 15:07] tapaswenipathak commented on #148
@anubhakushwaha Looks like not, please retest if it is not reproducible please go ahead and close this. 🎉

[2017-12-12 07:12] anubhakushwaha commented on #148
Closing, as now we are using a date picker which cannot lead to this error.

[2017-12-12 07:12] #148 closed

[2017-12-12 07:18] anubhakushwaha commented on #141
Closing, as it has been merged with commit [7aa856a](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/commit/7aa856a4255fceeb26a69c9c6b0c685848105cc6)

[2017-12-12 07:18] #141 closed

[2017-12-12 07:18] anubhakushwaha commented on #164
@amakarudze  Any updates?

[2017-12-12 08:18] amakarudze commented on #164
I have done 2 separate pull requests I am failing to merge to make one. Am
not sure how to do that unfortunately. Am not that experienced with git.

On Dec 12, 2017 09:18, "Anubha Kushwaha" <notifications@github.com> wrote:

[2017-12-12 14:56] anubhakushwaha commented on #164
@amakarudze Please let us know your problem and maybe we can help you :)

[2017-12-15 14:26] tapaswenipathak commented on #164
@amakarudze The easiest way is to close those pull request and then create new with your changes.

[2017-12-15 15:43] amakarudze commented on #164
Alright. Noted with thanks. Let me do so.

On Dec 15, 2017 16:26, "Tapasweni Pathak" <notifications@github.com> wrote:

[2017-12-15 20:49] amakarudze commented on #164
I have followed Tapasweni's advice and closed the pull requests and created
another one.

Should I worry about hound checks which do not recognize `from base import
*`?

On 12 December 2017 at 16:56, Anubha Kushwaha <notifications@github.com>
wrote:

[2017-12-18 19:32] jarifibrahim opened #202 "Issues with the user authentication"
The following issues need to be resolved in order to have a smooth user authentication workflow

- [ ] Update the user signup and login page. The current pages serve the purpose but there would be a significant improvement if we use any of the freely available templates.
- [ ] Update the usage of `allauth` Django app. The `allauth` app emits signals on user authentication events. I couldn't find a

[2017-12-18 19:33] jarifibrahim opened #203 "Fix incorrect use of allauth django app"
Update the usage of allauth Django app. The allauth app emits signals on user authentication events. I couldn't find any signal handlers for these signals. This is the main reason for authentication errors.

Part of https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/issues/202#issue-282994785

[2017-12-18 19:35] jarifibrahim opened #204 "Use environment variables to store SMTP credentials."

[2017-12-24 06:43] tapasweni-pathak opened #207 "Make usable/tested features live on master"
- [ ] hide signin/singnup in production
- [ ] Travis issues
- [ ] 500s
- [ ] Make journey page responsive
- [ ] Fix messed up upcoming sessions

[2017-12-24 07:19] tapasweni-pathak opened #210 "Remove open in new tab for links"
Remove `target=_blank` [from](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/blob/predev/oshc/main/templates/base.html#L37), for
- [ ] Request a session
- [ ] Contests
- [ ] Journey

[2017-12-24 07:22] tapasweni-pathak opened #211 "Move Contact from header to footer"
Move *Contact* on header to footer w/ a [fa-fa-envelop icon](http://fontawesome.io/icon/envelope/).

[2017-12-24 07:29] tapasweni-pathak opened #212 "Move Journey from header to footer"
Move *Journey* on header to footer w/ a [fa-fa-users icon](http://fontawesome.io/icon/users/).

[2017-12-24 07:32] tapasweni-pathak opened #213 "Change view session link"
From https://www.youtube.com/channel/UC1_IAby-9me3iICtxuiDL5Q to https://www.youtube.com/channel/UC1_IAby-9me3iICtxuiDL5Q/videos.

<img width="821" alt="screen shot 2017-12-24 at 1 01 56 pm" src="https://user-images.githubusercontent.com/4143778/34324990-ad12349e-e8aa-11e7-803a-d063a35ea8e9.png">

[2017-12-24 23:03] vinaypuppal commented on #130
Hi guys, can I work on this?

These are the things I am thinking to implement in PR
- [ ] Configure [Flake8](https://medium.com/python-pandemonium/what-is-flake8-and-why-we-should-use-it-b89bd78073f2) linter.
- [ ] Configure [yapf](https://github.com/google/yapf) (a python code formatter from google).
- [ ] Configure [pre-commit](http://pre-commit.com/) so `flake8` and `yapf` are run for every `gi

[2017-12-25 14:41] anubhakushwaha commented on #130
@vinaypuppal  Thanks for bringing such a cool thing like yapf, I went through it's documentation and think it would be really useful for us. cc @tapasweni-pathak  @jarifibrahim  @vaibhavsingh97  What do you think :smile:

[2017-12-25 15:07] #211 closed

[2017-12-25 15:13] vaibhavsingh97 commented on #130
Thanks @vinaypuppal for introducing yapf to us ✨ and feel free to send PR. @anubhakushwaha Yeah! It will be useful for us. 👍

[2017-12-25 15:16] vinaypuppal commented on #130
Sure @vaibhavsingh97

Yes its an awesome tool which I found recently while searching for python alternative for [prettier](https://github.com/prettier/prettier)(an awesome opinionated code formatter tool in javascript ecosystem).
BTW, prettier team is working on python support as well.(https://github.com/prettier/prettier-python) but its under development.

[2017-12-26 21:07] Justme764 commented on #213
Hello @tapasweni-pathak   20+ years in IT (hardware side) so this side is all new to me. I have taken the classes and now want to see if I can contribute.  I see you have a good first timer.  Can you help me get started?  Thanks

[2017-12-27 08:15] Logan1x commented on #213
@Justme764 what help you needed?

[2017-12-27 20:58] anubhakushwaha commented on #127
@abhishekarya286  Are you able to reproduce it again? Because ideally it should not have happened as width and height occupy the whole container. Incase you do please help us in fixing this.

[2017-12-28 16:43] tapaswenipathak commented on #213
:wave: @Justme764, sure, please go ahead and pick any [first-timers-only](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/labels/first-timers-only) issue. You can join the [Slack channel](https://opensourcehelp.herokuapp.com/) if you have any further questions. Feel free to tag me on Slack or on GitHub for your questions.

[2017-12-28 17:36] jarifibrahim opened #219 "Adding new Journey returns internal server error"
Steps to reproduce
1. Pull latest pre-dev branch
2. Run `python manage.py migrate`
3. Login to admin console and try to add a new Journey.

Reason for failure - Server returns `IntegrityError - NOT NULL constraint failed: main_journey.description`

Explanation -
Take a look at [0002_journey.py](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/blob/predev/oshc/main/migra

[2017-12-29 01:27] tapaswenipathak commented on #219
`description` field needs to be removed from [here](https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/blob/predev/oshc/main/migrations/0002_journey.py#L22) 👍

**But**
it seems to be handled by [heroku admin console](http://opensourcehelpcommunity-predev.herokuapp.com/journey/) and on the local too 👇, I tested this before and now. 🤔

<img width="1090" alt="screen shot 201

[2018-01-01 03:57] #212 closed

[2018-01-01 04:08] #130 closed

[2018-01-05 16:47] jarifibrahim commented on #219
@tapasweni-pathak I can confirm that it isn't working.
Try the following steps
1. delete the `db.sqlite3` file
2. run `python manage.py migrate`
3. Try to add a journey via admin console.

[2018-01-05 17:00] jarifibrahim opened #223 "Send emails to console backend when developing locally"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

When running the web app locally, new user registration will fail due to missing SMTP credentials.
Use

[2018-01-05 17:21] jarifibrahim commented on #223
This issue becomes obsolete with this PR https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/pull/224

I'm closing this issue. We can reopen this when we add email related features.

[2018-01-05 17:21] #223 closed

[2018-01-05 17:24] jarifibrahim commented on #204
This issue becomes obsolete with https://github.com/OpenSourceHelpCommunity/OpenSourceHelpCommunity.github.io/pull/224

[2018-01-06 15:44] tapaswenipathak commented on #219
@jarifibrahim I did it again and it is working for me,

Adding screenshots so keep track and if anyone sees anything visible
<img width="917" alt="screen shot 2018-01-06 at 9 13 04 pm" src="https://user-images.githubusercontent.com/4143778/34641201-75e3775e-f326-11e7-956f-7269cd5e5edd.png">
<img width="1125" alt="screen shot 2018-01-06 at 9 12 19 pm" src="https://user-images.githubusercontent.com/

[2018-01-06 16:10] #213 closed

[2018-01-07 04:24] palash25 opened #226 "Make dates optional in the submit contest form."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Description**:
The add new contest form has a start date and end date as mandatory fields. This does

[2018-01-07 20:51] Nickatak commented on #210
Hello! I saw that the above two PR's were closed due to non-first-timers (still, it was awesome seeing an example of a solid PR).  Do you mind if I work on this? :D

[2018-01-08 04:56] anubhakushwaha commented on #210
@Nickatak Yes go ahead.

[2018-01-11 07:25] jarifibrahim commented on #219
@tapasweni-pathak
[code]
@tapasweni-pathak You have migration 0003 for main. Mirgration `0003_auto` for main model isn't there on the predev branch
[code]

[2018-01-11 11:28] Nickatak commented on #127
Hello! Sorry if this is a little unclear (first time adding anything to a bug).

I was able to duplicate the error with the development server by following these steps:

- [ ] Initial setup (installing requirements/migrating/etc.)
- [ ] Opening the page (Request a session under url pattern '/session/' that calls request_session from views) with chrome using version 63.0.3239.132 on a Windows-box (

[2018-01-13 16:22] tapaswenipathak commented on #219
gotcha 👍. What are your thoughts on Heroku not having this issue?

[2018-02-28 20:47] nirmaldalmia commented on #210
I would like to work on this issue. I am new to open source but I've been working on websites for quite some time now. Let me know if the issue is still open.
Do I have to delete all the target="_blank" tags from the page or only 3 mentioned above?

[2018-03-19 02:16] tapaswenipathak commented on #210
👋 @nirmaldalmia from `Request a session`, `Contests` and `Journey`.

[2018-03-20 04:33] nirmaldalmia commented on #210
@tapasweni-pathak Is the issue already solved? Because I don't see any target="_blank" in the above mentioned tags.
Also went through the PR submitted before my comment which says the issue is resolved.
Let me know if there is still anything I can do.

[2018-05-05 19:06] devesh-verma commented on #226
@tapasweni-pathak @palash25 can I work on this one?

[2018-06-23 13:42] #210 closed

[2018-12-16 18:42] #179 closed

[2018-12-16 18:45] #102 closed

[2018-12-16 19:31] #204 closed

[2018-12-23 14:39] #1 closed

[2018-12-23 14:41] #76 closed

[2019-10-19 17:58] respawnHacks commented on #226
Is this still open for contributions?

[2019-10-19 22:12] tapaswenipathak commented on #226
On Sat, Oct 19, 2019 at 11:28 PM respawnHacks <notifications@github.com> wrote:

yep.

--
Tapasweni

[2020-01-19 17:50] lips67 opened #237 "Please help google said this site could help me"
hi.im very computer illiterate, but I know something is seriously wrong with my phone or Google account.i had bought a brand new stylo 5, about that time I lost my partner to lung cancer.His son went to battle with me over our home and belongings.all the sudden after I give my stepson his father's phone I sign into my Facebook it goes to his dad's I try to sign into gmail it was a hard time.so I r

[2020-05-26 05:17] unnatii opened #238 "The link to join slack channel seems broken"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our slack channel at https://opensourcehelp.slack.com/. Request invite [here](https://opensourcehelp.herokuapp.com)

**Description**:

Explain what you would expect from this process.

**Expected Behavior**:

Describe w